#program
  %table
    %thead
      %tr
        %th.small
        %th
          Track 1
        %th
          Track 2
        %th
          Track 3
        %th
          Track 4
    %tbody
      %tr
        %td.small
          8h00 - 9h00
        %td{:colspan => 4}
          Breakfast & Coffee at the cafeteria
      %tr
        %td.small
          9h15 - 9h45
        %td{:colspan => 4}
          Openings in main room
      %tr
        %td.small
          10h00 - 11h00
        %td
          = link_to "Learning How (and why) to Estimate User Stories", sessions_path(:anchor => "stephane-rondal")
          .name
            = link_to "Stephane Rondal", speakers_path(:anchor => "stephane-rondal")
        %td
          = link_to "Surprise session", sessions_path(:anchor => "pascal-van-cauwenberghe")
          .name
            = link_to "Pascal Van Cauwenberghe", speakers_path(:anchor => "pascal-van-cauwenberghe")
        %td
          = link_to "TDD by example", sessions_path(:anchor => "pierre-emmanuel-dautreppe")
          .name
            = link_to "Pierre-Emmanuel Dautreppe", speakers_path(:anchor => "pierre-emmanuel-dautreppe")
        %td{:rowspan => 2}
          = link_to "Mission to Mars", sessions_path(:anchor => "pierrick-revol")
          .name
            = link_to "Pierrick Revol", speakers_path(:anchor => "pierrick-revol")
      %tr
        %td.small
          11h15 - 12h15
        %td
          = link_to "Bridging the management gap", sessions_path(:anchor => "tiago-garcez")
          .name
            = link_to "Tiago Garcez", speakers_path(:anchor => "tiago-garcez")
        %td
          = link_to "Case studies: Kanban at personal, software, non-software and portfolio level", sessions_path(:anchor => "jan-de-baere")
          .name
            = link_to "Jan De Baere", speakers_path(:anchor => "jan-de-baere")
        %td
          = link_to "Taking baby steps", sessions_path(:anchor => "erik-talboom")
          .name
            = link_to "Erik Talboom", speakers_path(:anchor => "erik-talboom")
      %tr
        %td.small
          12h15 - 13h30
        %td{:colspan => 4}
          Lunch in the Patio
      %tr
        %td.small{:rowspan => 2}
          13h30 - 14h30
        %td
          = link_to "Lessons learned from a ScrumMaster", sessions_path(:anchor => "alan-hortz")
          .name
            = link_to "Alan Hortz", speakers_path(:anchor => "alan-hortz")
        %td{:rowspan => 2}
          = link_to "How to solve your toughest impediments", sessions_path(:anchor => "jef-cumps")
          .name
            = link_to "Jef Cumps", speakers_path(:anchor => "jef-cumps")
        %td{:rowspan => 3}
          = link_to "Don’t mention the war!", sessions_path(:anchor => "wim-bollen")
          .name
            = link_to "Wim Bollen", speakers_path(:anchor => "wim-bollen")
            = link_to "& Ben Cassiman", speakers_path(:anchor => "ben-cassiman")
        %td{:rowspan => 3}
          = link_to "How to do great Retrospectives!", sessions_path(:anchor => "steve-conard")
          .name
            = link_to "Steve Conard", speakers_path(:anchor => "steve-conard")
      %tr
        %td
          = link_to "The virtues of emergence", sessions_path(:anchor => "christophe-addinquy")
          .name
            = link_to "Christophe Addinquy", speakers_path(:anchor => "christophe-addinquy")
      %tr
        %td.small
          14h45 - 15h45
        %td
          = link_to "How to flow the agile way in a waterfall organized company", sessions_path(:anchor => "bart-coelus")
          .name
            = link_to "Bart Coelus", speakers_path(:anchor => "bart-coelus")
        %td
          = link_to "The Agile tipping point", sessions_path(:anchor => "ron-enriga")
          .name
            = link_to "Ron Enriga", speakers_path(:anchor => "ron-enriga")
      %tr
        %td.small
          15h45 - 16h15
        %td{:colspan => 4}
          Coffee break
      %tr
        %td.small
          16h15 - 17h15
        %td
          = link_to "Agility at large scale: A return on experience", sessions_path(:anchor => "mathieu-despriee")
          .name
            = link_to "Mathieu Despriée", speakers_path(:anchor => "mathieu-despriee")
            = link_to "& Hervé Lourdin", speakers_path(:anchor => "herve-lourdin")
        %td
          = link_to "Organize effective meetings and rituals", sessions_path(:anchor => "celine-stauder")
          .name
            = link_to "Céline Stauder", speakers_path(:anchor => "celine-stauder")
        %td
          = link_to "Introduction to Scrum, the most used Agile Method, through Games", sessions_path(:anchor => "bruno-sbille")
          .name
            = link_to "Bruno Sbille", speakers_path(:anchor => "bruno-sbille")
        %td
      %tr
        %td.small
          17h15 - 17h30
        %td{:colspan => 4}
          Closing
      %tr
        %td.small
          17h30 - 18h30
        %td{:colspan => 4}
          Beers at the cafetaria
