%h1.giant.title Agile Tour Brussels 2014
.large.ribbon Program

%br/
%br/



#program

  #flash

    %table.program
      %thead
        %tr
          %th.small
          %th
            Conference room 1
          %th
            Conference room 2
          %th
            Conference room 3
          %th
            Workshop room 1
          %th
            Workshop room 2
          %th
            Workshop room 3            
      %tbody
        %tr
          %td.small
            09h00 - 10h00
          %td{ colspan: 6, class: "food" }
            Introduction
        %tr
          %td.small
            10h00 - 11h00
          %td
            .presentation-title
              = link_to "What's Agile ? Introduction to Agile methods", presentations_path(:anchor => "bruno-sbille")
            .name
              = link_to "Bruno Sbille", speakers_path(:anchor => "bruno-sbille")
            = labels :beginner, :talk

          %td
            .presentation-title
              = link_to "Doing Valuable Agile Retrospectives", presentations_path(:anchor => "ben-linders")
            .name
              = link_to "Ben Linders", speakers_path(:anchor => "ben-linders")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Turn the Ship Around - Create Leadership at Every Level", presentations_path(:anchor => "wim-heemskerk")
            .name
              = link_to "Wim Heemskerk", speakers_path(:anchor => "wim-heemskerk")
              %br
              %br
              = link_to "Dirk Mulder", speakers_path(:anchor => "dirk-mulder")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Continuous delivery made possible", presentations_path(:anchor => "domenico-musto")
            .name
              = link_to "Domenico Musto", speakers_path(:anchor => "domenico-musto")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "The multi-level feedback cycle", presentations_path(:anchor => "kris-philippaerts")
            .name
              = link_to "Kris Philippaerts", speakers_path(:anchor => "kris-philippaerts")
            = labels :practitioner, :workshop
          %td
            .presentation-title
              = link_to "I believe I can draw", presentations_path(:anchor => "frederic-vandaele")
            .name
              = link_to "Frederic Vandaele", speakers_path(:anchor => "frederic-vandaele")
            = labels :beginner, :workshop
        %tr
          %td.small
            11h00 - 11h30
          %td{ colspan: 6, class: "food" }
            Break
        %tr
          %td.small
            11h30 - 12h30
          %td
            .presentation-title
              = link_to "Return of experience : Agility, Quality & Visual Thinking, Key Drivers Of Success", presentations_path(:anchor => "arik-azoulay")
            .name
              = link_to "Arik Azoulay", speakers_path(:anchor => "arik-azoulay")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Scrum of Scrums: examples", presentations_path(:anchor => "jan-de-baere")
            .name
              = link_to "Jan De Baere", speakers_path(:anchor => "jan-de-baere")
            = labels :practitioner, :talk
          %td
            .presentation-title
              = link_to "The wisdom of the Enneagram - Discover and Evolve your Personality Type", presentations_path(:anchor => "peter-moreno")
            .name
              = link_to "Peter Moreno", speakers_path(:anchor => "peter-moreno")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "The Product Owner Board Game", presentations_path(:anchor => "dajo-breddels")
            .name
              = link_to "Dajo Breddels", speakers_path(:anchor => "dajo-breddels")
            = labels :practitioner, :workshop       
          %td
            .presentation-title
              = link_to "Scrum in Industry (Scrum beyond Software series)", presentations_path(:anchor => "xavier-quesada-allue")
            .name
              = link_to "Xavier Quesada Allue", speakers_path(:anchor => "xavier-quesada-allue")
            = labels :practitioner, :talk        
            
          %td
            .presentation-title
              = link_to "Intrinsic agile coaching - Agile coaching without coaches", presentations_path(:anchor => "patrick-steyaert")
            .name
              = link_to "Patrick Steyaert", speakers_path(:anchor => "patrick-steyaert")
            = labels :beginner, :workshop
        %tr
          %td.small
            12h30 - 14h00
          %td{ colspan: 6, class: "food" }
            Lunch
        %tr
          %td.small
            14h00 - 15h00
          %td
            .presentation-title
              = link_to "HR in Agile, Agile in HR", presentations_path(:anchor => "jas-chong")
            .name
              = link_to "Jas Chong", speakers_path(:anchor => "jas-chong")
            = labels :beginner, :workshop
          %td
            .presentation-title
              = link_to "A voyage among our Cognitive Biases", presentations_path(:anchor => "oana-juncu")
            .name
              = link_to "Oana Juncu", speakers_path(:anchor => "oana-juncu")
            = labels :beginner, :workshop
          %td
            .presentation-title
              = link_to "Management is Dead", presentations_path(:anchor => "stephane-rondal")
            .name
              = link_to "Stephane Rondal", speakers_path(:anchor => "stephane-rondal")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Using the Improvement Kata for retrospectives", presentations_path(:anchor => "nick-oostvogels")
            .name
              = link_to "Nick Oostvogels", speakers_path(:anchor => "nick-oostvogels")
            = labels :beginner, :workshop
          %td
            .presentation-title
              = link_to "Small Controlled Experiments", presentations_path(:anchor => "mathias-verraes")
            .name
              = link_to "Mathias Verraes", speakers_path(:anchor => "mathias-verraes")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Buy a game - Let's seriously Play!", presentations_path(:anchor => "simon-jaillais")
            .name
              = link_to "Simon Jaillais", speakers_path(:anchor => "simon-jaillais")
              %br
              %br
              = link_to "Aurélien Morvant", speakers_path(:anchor => "aurelien-morvant")
            = labels :beginner, :workshop
        %tr
          %td.small
            15h00 - 15h30
          %td{ colspan: 6, class: "food" }
            Break
        %tr
          %td.small
            15h30 - 16h30
          %td
            .presentation-title
              = link_to "How NOT to scale Agile - a Via Negativa perspective on the scaling challenge", presentations_path(:anchor => "tiago-garcez")
            .name
              = link_to "Tiago Garcez", speakers_path(:anchor => "tiago-garcez")
            = labels :practitioner, :talk
          %td
            .presentation-title
              = link_to "Soyez très performant et innovant grâce au désordre !", presentations_path(:anchor => "xavier-warzee")
            .name
              = link_to "Xavier Warzee", speakers_path(:anchor => "xavier-warzee")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "The importance of code readability", presentations_path(:anchor => "michel-grootjans")
            .name
              = link_to "Michel Grootjans", speakers_path(:anchor => "michel-grootjans")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Changemakers (workshop - based on Management 3.0)", presentations_path(:anchor => "andrea-darabos")
            .name
              = link_to "Andrea Darabos", speakers_path(:anchor => "andrea-darabos")
            = labels :beginner, :workshop
          %td
            .presentation-title
              = link_to "Game Cube", presentations_path(:anchor => "alexandre-boutin")
            .name
              = link_to "Alexandre Boutin", speakers_path(:anchor => "alexandre-boutin")
            = labels :beginner, :workshop
          %td
            .presentation-title
              = link_to "Agile, a cure for anxiety !", presentations_path(:anchor => "alan-hortz")
            .name
              = link_to "Alan Hortz", speakers_path(:anchor => "alan-hortz")
            = labels :beginner, :talk
        %tr
          %td.small
            16h30 - 16h45
          %td{ colspan: 6, class: "food" }
            Break
        %tr
          %td.small{ rowspan: 2 }
            16h45 - 17h45
          %td{ rowspan: 2 }
            .presentation-title
              = link_to "Evidence-Based Management", presentations_path(:anchor => "gunther-verheyen")
            .name
              = link_to "Gunther Verheyen", speakers_path(:anchor => "gunther-verheyen")
            = labels :beginner, :talk
          %td{ rowspan: 2 }
            .presentation-title
              = link_to "Discover the shortest path to the business goal", presentations_path(:anchor => "cliff-depreytere")
            .name
              = link_to "Cliff Depreytere", speakers_path(:anchor => "cliff-depreytere")
            = labels :beginner, :talk
          %td{ rowspan: 2 }
            .presentation-title
              = link_to "Agile in fixed price, fixed scope and fixed date", presentations_path(:anchor => "sophie-de-carriere")
            .name
              = link_to "Sophie de Carrière", speakers_path(:anchor => "sophie-de-carriere")
              %br
              %br
              = link_to "Gilles Scokart", speakers_path(:anchor => "gilles-scokart")
            = labels :beginner, :talk
          %td{ rowspan: 2 }
            .presentation-title
              = link_to "My Product is a James Bond Movie: \"James wants to be a N'aavi\" ... closing the roadshow loop", presentations_path(:anchor => "pierre-e-neis")
            .name
              = link_to "Pierre E. Neis", speakers_path(:anchor => "pierre-e-neis")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Agile Writing", presentations_path(:anchor => "martin-van-aken")
            .name
              = link_to "Martin Van Aken", speakers_path(:anchor => "martin-van-aken")
            = labels :beginner, :talk         

          %td{ rowspan: 2 }
            .presentation-title
              = link_to "Celebrating 1 year of Collaboration Driven Development (CDD)", presentations_path(:anchor => "patrice-willemot")
            .name
              = link_to "Patrice Willemot", speakers_path(:anchor => "patrice-willemot")
            = labels :beginner, :talk


        %tr
          %td    
            .presentation-title
              = link_to "Are you Really Agile - \"An Agility Evaluation\"", presentations_path(:anchor => "vijayanand-nagaraj")
            .name
              = link_to "Vijayanand Nagaraj", speakers_path(:anchor => "vijayanand-nagaraj")
            = labels :practitioner, :talk         
        %tr
          %td.small
            17h45 - 18h00
          %td{ colspan: 6, class: "food" }
            Closing

    .explanations
      %h2 Attendees levels and suggested paths
      %p
        These path suggestions are for your information only.
        %br/
        This is one of the many ways to organise your day, with no obligation to follow particular sessions.
      %p
        You can choose your sessions as you go too.
        %br/
        Having discussions with participants,
        speakers and organisers during the breaks can help you identify the subjects you might be interested in.
      %p
        Let yourself be open to your agenda changes and surprises !

      %h3 Beginner-friendly path
      %p Beginner-friendly  workshops and talks are labeled with #{label :beginner}
      %p
        If you are new to Agile, we recommend you to choose between sessions marked as beginner-friendly.
        %br/
        Sessions marked with this label don't require any special prerequisites in order to be understood and fully enjoyed.


      %h3 Practitioner's path
      %p Practitioner's workshops and talks are labeled with #{label :practitioner}
      %p The talks and workshops in this session are targeted for people who are familiar with agile methods and approaches.

      - if false
        %h3 Expert's path
        %p Experts workshops and talks are labeled with #{label :expert}
        %p In these talks and workshops, the basics won't be explained. The presenter assumes that you are well-versed in agile and will present advanced topics.

      %h2 Session types
      %p During the conference 2 type of sessions are proposed:
      %ul
        %li Talks : Presenter is speaking for most of the time (often from a slide deck), with audience interaction. <br /> They are marked with: #{ label :talk }
        %li Workshops : Primarily focused on hands-on participation with the audience. <br /> They are marked with: #{ label :workshop }

      %br/

      - if false # OLD PROGRAM TEMPORARLY DISABLE 
        %tr
          %td.small
            10h00 - 11h00
          %td
            .presentation-title
              = link_to "Why Agile ?", presentations_path(:anchor => "tiago-garcez")
            .name
              = link_to "Tiago Garcez", speakers_path(:anchor => "tiago-garcez")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "A War Story of the Rise and Fall of an \"Agile\" Company", presentations_path(:anchor => "jan-de-baere")
            .name
              = link_to "Jan De Baere", speakers_path(:anchor => "jan-de-baere")
            = labels :beginner, :talk

          %td
            .presentation-title
              = link_to "The Road to Lean Success", presentations_path(:anchor => "hans-smorenburg")
            .name
              = link_to "Hans Smorenburg", speakers_path(:anchor => "hans-smorenburg")
            = labels :beginner

          %td
            .presentation-title
              = link_to "The Sound of Silence", presentations_path(:anchor => "luc-taesch")
            .name
              = link_to "Luc Taesch", speakers_path(:anchor => "luc-taesch")
            = labels :workshop, :beginner

          %td
            .presentation-title
              = link_to "My Product is a James Bond Movie!", presentations_path(:anchor => "pierre-e-neis")
            .name
              = link_to "Pierre E. Neis", speakers_path(:anchor => "pierre-e-neis")
            = labels :talk, :practitioner

        %tr
          %td.small
            11h00 - 11h30
          %td{ colspan: 5, class: "food"}
            Break

        %tr
          %td.small
            11h30 - 12h30
          %td
            .presentation-title
              = link_to "Our Agile Approach to Game Development", presentations_path(:anchor => "laurent-grumiaux")
            .name
              = link_to "Laurent Grumiaux", speakers_path(:anchor => "laurent-grumiaux")
              = link_to "& Pierre Guerand", speakers_path(:anchor => "pierre-guerand")
            = labels :practitioner, :talk

          %td
            .presentation-title
              = link_to "Cynefin Lego Game", presentations_path(:anchor => "maurizio-pedriale")
            .name
              = link_to "Maurizio Pedriale", speakers_path(:anchor => "maurizio-pedriale")
              = link_to "& Alan Hortz", speakers_path(:anchor => "alan-hortz")
            = labels :practitioner, :workshop

          %td
            .presentation-title
              = link_to "Lean Startup for Developers: You Can Do It Too!", presentations_path(:anchor => "sebastien-arbogast")
            .name
              = link_to "Sébastien Arbogast", speakers_path(:anchor => "sebastien-arbogast")
            = labels :beginner, :talk

          %td
            .presentation-title
              = link_to "Everything you wanted to know about PairProgramming, but were afraid to ask....", presentations_path(:anchor => "yves-hanoulle")
            .name
              = link_to "Yves Hanoulle", speakers_path(:anchor => "yves-hanoulle")

            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Agility: the scientific definition of how to be(come) Agile", presentations_path(:anchor => "luca-minudel")
            .name
              = link_to "Luca Minudel", speakers_path(:anchor => "luca-minudel")
            = labels :practitioner, :talk
        %tr
          %td.small
            12h30 - 13h30
          %td{ colspan: 5, class: "food"}
            Lunch

        %tr
          %td.small{ rowspan: 2 }
            13h30 - 14h30
          %td{ rowspan: 2 }
            .presentation-title
              = link_to "The Agile and Open Source Way", presentations_path(:anchor => "alexis-monville")
            .name
              = link_to "Alexis Monville", speakers_path(:anchor => "alexis-monville")
            = labels :practitioner, :talk

          %td{ rowspan: 2 }
            .presentation-title
              = link_to "Perfect Problem Breakthrough", presentations_path(:anchor => "jurgen-de-smet")
            .name
              = link_to "Jurgen De Smet", speakers_path(:anchor => "jurgen-de-smet")
              %br/
              = link_to "& Erik Talboom", speakers_path(:anchor => "erik-talboom")
            = labels :beginner, :workshop

          %td{ rowspan: 2 }
            .presentation-title
              = link_to "4 steps to co-create the right product, let's talk about Lean Design", presentations_path(:anchor => "pierrick-revol")
            .name
              = link_to "Pierrick Revol", speakers_path(:anchor => "pierrick-revol")
            = labels :beginner, :talk

          %td
            .presentation-title
              = link_to "1+9 visual management tools", presentations_path(:anchor => "damien-thouvenin")
            .name
              = link_to "Damien Thouvenin", speakers_path(:anchor => "damien-thouvenin")
            = labels :beginner, :talk
          %td
            .presentation-title
              = link_to "Agile Methodologies For Research", presentations_path(:anchor => "joanne-ho")
            .name
              = link_to "Joanne Ho", speakers_path(:anchor => "joanne-ho")
            = labels :practitioner, :talk
        %tr
          %td
            .presentation-title
              = link_to "SCRUM explained to children", presentations_path(:anchor => "lahcen-afif")
            .name
              = link_to "Lahcen Afif", speakers_path(:anchor => "lahcen-afif")
            = labels :beginner
          %td


        %tr
          %td.small
            14h30 - 15h00
          %td{ colspan: 5, class: "food" }
            Break

        %tr
          %td.small
            15h00 - 16h00
          %td
            .presentation-title
              = link_to "Real Options: learn when and how (not) to decide", presentations_path(:anchor => "pascal-van-cauwenberghe")
            .name
              = link_to "Pascal Van Cauwenberghe", speakers_path(:anchor => "pascal-van-cauwenberghe")
            = labels :beginner, :talk

          %td
            .presentation-title
              = link_to "Easy to use correctly and hard to use incorrectly", presentations_path(:anchor => "christophe-addinquy")
            .name
              = link_to "Christophe Addinquy", speakers_path(:anchor => "christophe-addinquy")
            = labels :beginner, :workshop

          %td
            .presentation-title
              = link_to "Applying Lean Thinking to software development", presentations_path(:anchor => "steven-peeters")
            .name
              = link_to "Steven Peeters", speakers_path(:anchor => "steven-peeters")
            = labels :practitioner, :talk

          %td
            .presentation-title
              = link_to "Kickstart your Product Backlog with Innovation Games", presentations_path(:anchor => "frederic-vandaele")
            .name
              = link_to "Frederic Vandaele", speakers_path(:anchor => "frederic-vandaele")
            = labels :beginner

          %td
            .presentation-title
              = link_to "Managing without authority : lessons learnt as a dungeon master", presentations_path(:anchor => "guillaume-duquesnay")
            .name
              = link_to "Guillaume Duquesnay", speakers_path(:anchor => "guillaume-duquesnay")
            = labels :beginner, :talk


        %tr
          %td.small
            16h00 - 16h15
          %td{ colspan: 5, class: "food" }
            Break

        %tr
          %td.small
            16h15 - 17h15
          %td
            .presentation-title
              = link_to "Lessons learned from scaling Agile to distributed, offshore teams", presentations_path(:anchor => "stephane-rondal")
            .name
              = link_to "Stephane Rondal", speakers_path(:anchor => "stephane-rondal")
            = labels :practitioner, :talk

          %td
            .presentation-title
              = link_to "Event Driven Architecture in practice", presentations_path(:anchor => "domenico-musto")
            .name
              = link_to "Domenico Musto", speakers_path(:anchor => "domenico-musto")
            = labels :practitioner, :talk

          %td
            .presentation-title
              = link_to "The scrum board mystery files: To post-it or not to post-it", presentations_path(:anchor => "peter-duelen")
            .name
              = link_to "Peter Duelen", speakers_path(:anchor => "peter-duelen")
            = labels :practitioner, :talk

          %td
            .presentation-title
              = link_to "HR Team Workshop", presentations_path(:anchor => "yannick-ameur")
            .name
              = link_to "Yannick Ameur", speakers_path(:anchor => "yannick-ameur")
            = labels :practitioner, :workshop
          %td
            .presentation-title
              = link_to "7 types of feedback that helped make GOV.UK a success", presentations_path(:anchor => "jake-benilov")
            .name
              = link_to "Jake Benilov", speakers_path(:anchor => "jake-benilov")
            = labels :beginner, :talk


        %tr
          %td.small
            17h15 - 18h00
          %td{ colspan: 5, class: "food" }
            Closing
