- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "retro.jpg"
      %div= image_tag "tiago.jpg"
      %div= image_tag "lego_game.jpg"
      %div= image_tag "audience.jpg"
      %div= image_tag "atbru.jpg"

%h1.giant.title Agile Tour Brussels 2013
.large.ribbon September 27 at EPHEC Brussels

%section#presentation
  %br/
  %br/
  %h2 Welcome to Agile Tour Brussels 2013 !
  %p Dears,
  %p An <strong>Agile Conference</strong> will take place on <strong>September, 27 </strong>in <strong>Belgium</strong>: <a href="http://www.atbru.be/">Agile Tour Brussels 2013</a> (2nd edition)
  %p <a href="http://register.agilesystems.org/">Registration</a> is open and <a href="http://www.atbru.be/program">Program</a> is available on our website <a href="http://www.atbru.be">www.atbru.be</a>.
  %p At Agile Tour Brussels, there will be both <strong>local</strong> and <strong>international</strong> speakers (U.S, U.K, France, Luxembourg, Italy) coming from various industries like IT, Game Development, Research, Teaching, Marketing...
  %p You will learn and practice themes like <strong>Agile, Scrum, Kanban, XP, Lean, Innovation Games, Agile Games, Systems Thinking, Lean Startup</strong> and also<strong> Problem Solving</strong> and <strong>Soft Skills</strong>.
  %p During the conference <strong>2 types of sessions</strong> are proposed:
  %p
    \- A <strong>Talk</strong> : Presenter is speaking for most of the time (often from a slide deck), with audience interaction
    %br/
    \- or a <strong>Workshop</strong> : Primarily focused on hands-on participation with the audience.
  %p
    The <strong>balanced program</strong> offers you the possibility to choose anytime you want a session that could be for <strong>Beginners</strong>, <strong>Practitioners</strong> or <strong>Experts</strong>.
    %br/
    With <strong>30 minute-breaks</strong> between sessions and <strong>lunches</strong>, the Agile Tour Brussels is surely a good place for <strong>Networking</strong>. Last year we welcomed people from Belgium, France, the Netherlands and Switzerland.
  %p You can buy your ticket via the "<a href="http://register.agilesystems.org/">Register</a>" link on our <a href="http://www.atbru.be/">website</a>:
  %p
    \- Until August, 31st 2013, Price is <strong>70EUR</strong> vat excl.
    %br/
    \- After August, 31st 2013, Price is <strong>100EUR</strong> vat excl.
  %p There is a limited number of tickets available so don’t hesitate to register.
  All information: Program, venue, prices,... are available on our website: <a href="http://www.atbru.be">http://www.atbru.be</a>.
  %p We hope to see you there!
  %p On behalf of the organization team,
  %p
    Bruno.
    %br/
    %a{ href: "mailto:bruno@atbru.be"} bruno@atbru.be



%section#call
  %h2 Registrations are open!
  %p We are proud to announce that the 2nd edition of the Agile Tour Brussels is on!
  %p Last year, we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
  %p At Agile Tour Brussels you will meet a mix of attendees who are either completely new to Agile, experienced or experts.
%section#getting-there
  %h2 Getting to the EPHEC
  %h3 By train
  %p
    Merode station is at 14 min. distance by underground.
  %h3 By underground
  %p
    Line 1 direction Stockel; Stop Alma at 5 min. walking distance.
  %h3 By car
  %p
    The EPHEC is situated near the “Cliniques Universitaires Saint-Luc”.
  %p There are a few parking spots available in the streets around the EPHEC but we recommend to use public transportation in Brussels. There are different parkings around the city.

  %p EPHEC Ecole Pratique des Hautes Etudes Commerciales  | Avenue Konrad Adenauer 3 | 1200 Woluwe-Saint-Lambert

#location
  #map