- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "retro.jpg"
      %div= image_tag "tiago.jpg"
      %div= image_tag "lego_game.jpg"
      %div= image_tag "audience.jpg"
      %div= image_tag "atbru.jpg"

%h1.giant.title Agile Tour Brussels 2013
.large.ribbon September 27 at EPHEC Brussels

%br/
%br/
%section#sponsors.side_content
  %h3 Supporting communities
  %p= link_to image_tag( "scrum_alliance_logo_2013.png", class: "sponsor-home-no-border"  ), sponsors_path( anchor: "scrum-alliance" )
  %p= link_to image_tag( "agile_systems.png", class: "sponsor-home-no-border"), sponsors_path( anchor: "agile-systems" )
  %p= link_to image_tag( "xp_days2013.png", class: "sponsor-home-no-border"      ), sponsors_path( anchor: "xp-days" )

%section#presentation
  %h2 Presentations materials available
  %p  We have just updated the  #{ link_to 'presentations page', presentations_url }  with a bunch of links to the presentations slides.
  %p  More links and updates are on their way !



  %h2 Welcome to Agile Tour Brussels 2013 !

  %p
    <a href="http://www.atbru.be">Agile Tour Brussels 2013</a> (2nd edition) is an <strong>Agile Conference</strong> that will take place on <strong>September, 27</strong> in <strong>Belgium</strong>:
    %br/
    <a href="http://register.agilesystems.org/">Registration</a> is open and <a herf="http://www.atbru.be/program">Program</a> is available on our website.

  %p At Agile Tour Brussels, there will be both <strong>local</strong> and <strong>international</strong> speakers (U.S, U.K, France, Luxembourg, Italy) coming from various industries like IT, Game Development, Research, Teaching, Marketing...
  %p You will learn and practice themes like <strong>Agile, Scrum, Kanban, XP, Lean, Innovation Games, Agile Games, Systems Thinking, Lean Startup</strong> and also<strong> Problem Solving</strong> and <strong>Soft Skills</strong>.
  %p
    With <strong>30 minute-breaks</strong> between sessions and <strong>lunches</strong>, the Agile Tour Brussels is surely a good place for <strong>Networking</strong>.
    %br/
    Last year we welcomed people from Belgium, France, the Netherlands and Switzerland.
  %h3 Types of sessions
  %p
    During the conference <strong>2 types of sessions</strong> are proposed:
    %br/
    \- <strong>Talks</strong>: A presenter is speaking for most of the time (often from a slide deck), with audience interaction.
    %br/
    \- <strong>Workshops</strong>: Primarily focused on hands-on participation with the audience.
  %h3 For all levels !
  %p
    The <strong>balanced program</strong> offers you the possibility to choose anytime you want a session that could be for <strong>Beginners</strong>, <strong>Practitioners</strong> or <strong>Experts</strong>.

  %h3 Pricing: early birds, normal
  %p You can buy your ticket via the "<a href="http://register.agilesystems.org/">Register</a>" link on top right of this page.
  %p
    \- Until August, 31st 2013, Price is <strong>70EUR</strong> vat excl.
    %br/
    \- After August, 31st 2013, Price is <strong>100EUR</strong> vat excl.

  %h3 See you soon
  %p
    Don't forget to check the <a href="http://www.atbru.be/program">Program</a> and <a href="http://register.agilesystems.org/">Register</a> today !
    %br/
    We hope to see you there !



%section#call
  %br/
  %h2 Registrations are open!
  %p We are proud to announce that the 2nd edition of the Agile Tour Brussels is on!
  %p Last year, we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
  %p At Agile Tour Brussels you will meet a mix of attendees who are either completely new to Agile, experienced or experts.


