- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "carousel/01.jpg"
      %div= image_tag "carousel/02.jpg"
      %div= image_tag "carousel/03.jpg"
      %div= image_tag "carousel/04.jpg"
      %div= image_tag "carousel/05.jpg"
      %div= image_tag "carousel/06.jpg"
      %div= image_tag "carousel/07.jpg"
      %div= image_tag "carousel/08.jpg"
      %div= image_tag "carousel/09.jpg"
      %div= image_tag "carousel/10.jpg"
      %div= image_tag "carousel/11.jpg"
      %div= image_tag "carousel/12.jpg"
      %div= image_tag "carousel/13.jpg"
      %div= image_tag "carousel/14.jpg"
      %div= image_tag "carousel/15.jpg"



- content_for :before_carousel do


  %h1.giant.title
    %big
      Agile Tour Brussels 2014
  .large.ribbon October, 31 at EPHEC Brussels
  %br/
  %br/

  %section#call

    %h1.giant.title
      Call for speakers


    :markdown

      Hi Folks!

      The Agile Belgium Community is **calling for speakers** for the 3<sup>rd</sup> edition of Agile Tour Brussels, which will take place on **October 31st, 2014** in Brussels, **Belgium**.

    %section#sponsors.side_content
      %h3 Supporting communities
      %p= link_to image_tag( "scrum_alliance_logo_2013.png", class: "sponsor-home-no-border"  ), sponsors_path( anchor: "scrum-alliance" )
      %p= link_to image_tag( "agile_systems.png", class: "sponsor-home-no-border"), sponsors_path( anchor: "agile-systems" )
      %p= link_to image_tag( "xp_days2014.png", class: "sponsor-home-no-border"      ), sponsors_path( anchor: "xp-days" )

    :markdown
      ### What's Agile Tour Brussels?

      Agile Tour Brussels ([http://www.atbru.be](http://www.atbru.be)) is one of the biggest agile conferences in Belgium. Last year we gathered 180 attendees and speakers from Belgium, France, U.S, U.K, Luxemburg, Netherlands and Sweden to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
      At Agile Tour Brussels you will meet a mix of attendees who are either completely **new** to Agile, experienced or **experts**.

      This year we're going to have different tracks, and for each of these
      we're looking for two kind of sessions: IInteractive **Talk** (Presenter is
      speaking for most of the time with audience interaction) or **Workshop**
      (Primarily focused on hands-on participation with the audience).



      ### Track 1: Experience reports.

      Tell us your success or failure stories about Implementing Agile in Belgium (or in Europe), What is (not) working for you? If you're an agile coach or facilitator, bring your client with you!

      ### Track 2: Pragmatic Track

      We’re looking for small changes or fundamentals, pragmatic things that work. How do you gather requirements? How do you run an outstanding retrospective? In this track your participants will learn something they can apply the day after.  It can be technical, soft-skills or a process you use.

      ### Track 3: Let's Play together

      This Track is for Agile Games and Serious Games. It's also the opportunity to suggest "BootCamp" sessions like Introduction to \[put Agile method here\] or how to estimate with Agile,...

      ### Track 4: Agile Management

      What's the role of Managers in Agile? What's an Agile Manager? What's an Agile organization? This track will cover subjects such as Management 3.0, Flat organizations, Evidence Based Management,...

      ### Track 5: Various

      Do you have a favourite subject you'd like to talk about, a kick-ass workshop you'd like to run, a theme you'd like to share? This track is for you!

      **All Agile methods are welcome**: Scrum, XP, KanBan, Lean, Devops, Leadership, Lean Startup, Coaching, System thinking, Product Aspect, Agile outside IT,

      We are looking for **different levels** of sessions: for beginners, practitioners and experts. We welcome experienced as well as new speakers.

      ## How to submit a session?

    :markdown
      To submit a session, fill in the form located here: <br />
      [http://at2014.agiletour.org/fr/callForSpeaker.html](http://at2014.agiletour.org/fr/callForSpeaker.html)

      (you can log into the website with your existing account or create a new one).

      Tips for a successful submission:

      - Don't forget to specify that you’re applying for Agile Tour **Belgium - Brussels**
      - Make sure you’re in the call of speaker of Agile Tour 2014 (links to the previous editions could still be active in the platform)
      - Specify the size of the audience you'd like to have for your session
      - Sessions must be **in English**
      - We would prefer to have session of **1 hour maximum**

      **Deadline** for submission:  **10th of July 2014**

      All information about the event will be published on [http://www.atbru.be](http://www.atbru.be)

      If you have any questions, feel free to drop an email at [bruno@atbru.be](bruno@atbru.be)

      If you cannot make it, you can still support us by tweeting about #atbru, blogging, speaking about our event.

      Thanks in advance for your support!

      The Agile Tour Brussels Organization Team.



- if false # disable previous year contents. Keep them here for some for reference, remove when considered useless
  %section#thank_you
    :markdown

      ## THANK YOU !

      The 2nd edition of Agile Tour Brussels is over and was a huge success with a sold-out **180 participants**.

      We had a great time and we want to thank everybody: speakers, participants, organizers and sponsors.

      **Presentations** of the different sessions [are available](http://atbru.be/presentations).

      You can also see the **pictures** of the event here: [ Agile Tour Brussels 2013 pictures on Flickr ](http://www.flickr.com/photos/38476759@N04/sets/72157636114081464/).

      We have also some **blog posts** speaking about the event:

      * [ Carnet de route : Agile Tour Bruxelles 2013 (1/2) ](http://freethinker.addinq.uy/post/63592310566/carnet-de-route-agile-tour-bruxelles-2013-1-2)
      * [ Carnet de route : Agile Tour Bruxelles 2013 (2/2) ](http://freethinker.addinq.uy/post/63963022067/carnet-de-route-agile-tour-bruxelles-2013-2-2)
      * [ My output of the Agile Tour 2013 in Brussels ](http://orchestraaa.com/2013/10/270913-my-output-of-the-agile-tour-2013-in-brussels/)
      * [ Agile Tour Brussels 2013 Report ](http://www.bartvermijlen.com/agile-tour-brussels-2013-report/)
      * [ We all do agile because it’s ‘hot’ ](http://www.redlab.be/blog/2013/we-all-do-agile-because-its-hot/)

      And you can see here the list of **articles & interview by InfoQ**:

      * [ News ](http://www.infoq.com/agiletour/news/)
      * [ Articles ](http://www.infoq.com/agiletour/articles/)

      If you want to stay aware of **what's happening** in the Agile Belgian Community, check the [ Agile Belgium group on Meetup](http://www.meetup.com/Agile-Belgium/)

      See you in 2014 !

      The organization Team.

      **Any questions, want to be a sponsor for next year, want to host the event?**<br />
      Contact [bruno@atbru.be](mailto:bruno@atbru.be)

  %section#presentation
    %h2 Presentations materials available
    %p  We have just updated the  #{ link_to 'presentations page', presentations_url }  with a bunch of links to the presentations slides.
    %p  More links and updates are on their way !

    %h2 Welcome to Agile Tour Brussels 2013 !

    %p
      <a href="http://www.atbru.be">Agile Tour Brussels 2013</a> (2nd edition) is an <strong>Agile Conference</strong> that will take place on <strong>September, 27</strong> in <strong>Belgium</strong>:
      %br/
      <a href="http://register.agilesystems.org/">Registration</a> is open and <a herf="http://www.atbru.be/program">Program</a> is available on our website.

    %p At Agile Tour Brussels, there will be both <strong>local</strong> and <strong>international</strong> speakers (U.S, U.K, France, Luxembourg, Italy) coming from various industries like IT, Game Development, Research, Teaching, Marketing...
    %p You will learn and practice themes like <strong>Agile, Scrum, Kanban, XP, Lean, Innovation Games, Agile Games, Systems Thinking, Lean Startup</strong> and also<strong> Problem Solving</strong> and <strong>Soft Skills</strong>.
    %p
      With <strong>30 minute-breaks</strong> between sessions and <strong>lunches</strong>, the Agile Tour Brussels is surely a good place for <strong>Networking</strong>.
      %br/
      Last year we welcomed people from Belgium, France, the Netherlands and Switzerland.
    %h3 Types of sessions
    %p
      During the conference <strong>2 types of sessions</strong> are proposed:
      %br/
      \- <strong>Talks</strong>: A presenter is speaking for most of the time (often from a slide deck), with audience interaction.
      %br/
      \- <strong>Workshops</strong>: Primarily focused on hands-on participation with the audience.
    %h3 For all levels !
    %p
      The <strong>balanced program</strong> offers you the possibility to choose anytime you want a session that could be for <strong>Beginners</strong>, <strong>Practitioners</strong> or <strong>Experts</strong>.

    %h3 Pricing: early birds, normal
    %p You can buy your ticket via the "<a href="http://register.agilesystems.org/">Register</a>" link on top right of this page.
    %p
      \- Until August, 31st 2013, Price is <strong>70EUR</strong> vat excl.
      %br/
      \- After August, 31st 2013, Price is <strong>100EUR</strong> vat excl.

    %h3 See you soon
    %p
      Don't forget to check the <a href="http://www.atbru.be/program">Program</a> and <a href="http://register.agilesystems.org/">Register</a> today !
      %br/
      We hope to see you there !



  %section#call
    %br/
    %h2 Registrations are open!
    %p We are proud to announce that the 2nd edition of the Agile Tour Brussels is on!
    %p Last year, we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
    %p At Agile Tour Brussels you will meet a mix of attendees who are either completely new to Agile, experienced or experts.


