- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "retro.jpg"
      %div= image_tag "tiago.jpg"
      %div= image_tag "lego_game.jpg"
      %div= image_tag "audience.jpg"
      %div= image_tag "atbru.jpg"

%h1.giant.title Agile Tour Brussels 2013
.large.ribbon Session proposals are open !

%section#call
  %br/
  %br/
  %p Dears,
  %p
    The Agile Belgium Community is calling for speakers for Agile Tour Brussels 2013.

  %p
    This conference will take place on the 27th of September in Brussels, Belgium.
    %br/
    Deadline for submission: 20th of June 2013

  %h2 About the event
  %p
    %p
      This is the 2nd edition of the conference Agile Tour Brussels.
    %p
      Last year, we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile.
      The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
    %p
      At Agile Tour Brussels you will speak to a mix of attendees who are either completely new to Agile, experienced or experts.

  %h2 We are looking for:
  %ul
    %li Any kind of sessions (Lecture, interactive talk, workshop, technical,...) on any topics like Scrum, XP, KanBan, Lean, Devops, Leadership, Lean Startup, Coaching, System thinking, Product Aspect, Agile Games,...
    %li Different levels of sessions, sessions for beginner, advanced and expert.
    %li New and experienced speakers.

  %h2 How to submit a session?
  %p
    Just fill in the <a href="http://at2013.agiletour.org/fr/callForSpeaker.html">form</a>,
    if you never registered on agiletour.org, you will be asked to create an account.

  %h2 Tips for a successful submission:
  %ul
    %li Don't forget to specify that you are applying for Agile Tour Belgium - Brussels
    %li Specify the size of the audience you'd like to have for your session (e.g < 100 persons)
    %li Sessions must be in English
    %li We would prefer to have session of 1 hour maximum

  %p
    If you have any questions, feel free to drop an email at <a href="mailto:bruno@atbru.be">bruno@atbru.be</a>
    %br/
    Thanks in advance for your support!