%section#call
  %h2
    Call for session proposals
    %small Agile Tour Brussels 27-09-2013
  %p Dears,
  %p
    The Agile Belgium Community is calling for speakers for the Agile Conference: Agile Tour Brussels 2013.
    %br/
    This event will take place on the 27th of September in Brussels Belgium.
  %p Deadline for submission: 20th of June 2013
  %h3 What's Agile Tour Brussels?
  %p
    It's the 2nd edition of the conference Agile Tour Brussels (www.atbru.be).
    Last year we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
    At Agile Tour Brussels you will speak to a mix of attendees who are either completely new to Agile, experienced or experts.
  %p We are looking for any kind of sessions (Lecture, interactive talk, workshop, technical,...) on any topics like Scrum, XP, KanBan, Lean, Devops, Leadership, Lean Startup, Coaching, System thinking, Product Aspect, Agile Games,...
  %p We are looking for different levels of sessions, sessions for beginner, advanced and expert. We are also looking for new and experienced speakers.

  %h3 How to submit a session?
  %p To submit a session, fill in the form located here: http://at2013.agiletour.org/fr/callForSpeaker.html
  %p If you never registered to the website agiletour.org, you will be asked to create an account.
  %p Tips for a successful submission:

  %ul
    %li Don't forget to specify that you are applying for Agile Tour Belgium - Brussels
    %li Specify the size of the audience you'd like to have for your session (e.g < 100 persons)
    %li Sessions must be in English
    %li We would prefer to have session of 1 hour maximum

  %p If you have any questions, feel free to drop an email at bruno@atbru.be
  %p Thanks in advance for your support!
  %p The Agile Tour Brussels Organization Team.

#speakers-call October 26 2012

%section#intro
  %h2 Thanks all for coming!
  %p
    We gathered almost 100 people together for this first edition of the Agile Tour Brussels. Thank you all for coming and making this event so special. We will not forget the great atmosphere and the happy faces!


%section#location
  %h2 The participants
  %p= image_tag("beer.jpg", :class => "home")

%section#organizers
  %h2 The crew
  = link_to image_tag("brunosbille.png", :class => "face"), "http://be.linkedin.com/in/brunosbille"
  %p
    %strong= link_to "Bruno Sbille", "http://be.linkedin.com/in/brunosbille", :class => "linkedin"
    %br
    = mail_to "bruno.sbille@gmail.com", "bruno.sbille@gmail.com"
    %br
    = link_to "@BrunoSbille", "http://twitter.com/brunosbille", :class => "twitter"

  = link_to image_tag("mlainez.png", :class => "face"), "http://be.linkedin.com/in/marclainez"
  %p
    %strong= link_to "Marc Lainez", "http://be.linkedin.com/in/marclainez", :class => "linkedin"
    %br
    = mail_to "ml@theotherguys.be", "ml@theotherguys.be"
    %br
    = link_to "@mlainez", "http://twitter.com/mlainez", :class => "twitter"

  = link_to image_tag("jbpros.png", :class => "face"), "http://be.linkedin.com/in/jbpros"
  %p
    %strong= link_to "Julien Biezemans", "http://be.linkedin.com/in/jbpros", :class => "linkedin"
    %br
    = mail_to "jb@jbpros.com", "jb@jbpros.com"
    %br
    = link_to "@jbpros", "http://twitter.com/jbpros", :class => "twitter"

  = link_to image_tag("romaingweb.jpg", :class => "face"), "http://be.linkedin.com/in/romaingweb"
  %p
    %strong= link_to "Romain Gérard", "http://be.linkedin.com/in/romaingweb", :class => "linkedin"
    %br
    = mail_to "romaingweb@gmail.com", "romaingweb@gmail.com"
    %br
    = link_to "@romaingweb", "http://twitter.com/romaingweb", :class => "twitter"

%section#sponsors
  %h2 Supporting communities
  %p
    = link_to image_tag("scrum_alliance.jpg", :class => "sponsor-home"), sponsors_path(:anchor => "scrum-alliance")
  %p
    = link_to image_tag("agile_systems.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "agile-systems")
  %p
    = link_to image_tag("xp_days.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "xp-days")