#speakers-call October 26 2012
%section#intro
  %h2 An Agile Tour in Brussels
  %p
    The Agile Belgium Community is very excited to announce its second Agile Tour, and this time in Brussels! Join us for a full day event by and for the Agile community.
    As you probably guessed already, it will take place in English and we are willing to cover a wide range of topics, either technical or not.
  %p
    Brussels is a great city, easily reachable by any kind of transportation. Do not hesitate to contact any of the organizers to get some info on how to get to the conference. We'll be happy to help you.

%section#location
  %h2 Where will it take place?
  #map
  #address
    %p
      ICAB nv | Rue des Pères blancs 4 | 1040 Bruxelles

%section#organizers
  %h2 Meet the crew
  = link_to image_tag("brunosbille.png", :class => "face"), "http://be.linkedin.com/in/brunosbille"
  %p
    %strong= link_to "Bruno Sbille", "http://be.linkedin.com/in/brunosbille", :class => "linkedin"
    %br
    = mail_to "bruno.sbille@gmail.com", "bruno.sbille@gmail.com"
    %br
    = link_to "@BrunoSbille", "http://twitter.com/brunosbille", :class => "twitter"

  = link_to image_tag("mlainez.png", :class => "face"), "http://be.linkedin.com/in/marclainez"
  %p
    %strong= link_to "Marc Lainez", "http://be.linkedin.com/in/marclainez", :class => "linkedin"
    %br
    = mail_to "ml@theotherguys.be", "ml@theotherguys.be"
    %br
    = link_to "@mlainez", "http://twitter.com/mlainez", :class => "twitter"

  = link_to image_tag("jbpros.png", :class => "face"), "http://be.linkedin.com/in/jbpros"
  %p
    %strong= link_to "Julien Biezemans", "http://be.linkedin.com/in/jbpros", :class => "linkedin"
    %br
    = mail_to "jb@jbpros.com", "jb@jbpros.com"
    %br
    = link_to "@jbpros", "http://twitter.com/jbpros", :class => "twitter"

  = link_to image_tag("romaingweb.jpg", :class => "face"), "http://be.linkedin.com/in/romaingweb"
  %p
    %strong= link_to "Romain Gérard", "http://be.linkedin.com/in/romaingweb", :class => "linkedin"
    %br
    = mail_to "romaingweb@gmail.com", "romaingweb@gmail.com"
    %br
    = link_to "@romaingweb", "http://twitter.com/romaingweb", :class => "twitter"

%section#sponsors
  %h2 Supporting communities
  %p
    = link_to image_tag("scrum_alliance.jpg", :class => "sponsor-home"), sponsors_path(:anchor => "scrum-alliance")
  %p
    = link_to image_tag("agile_systems.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "agile-systems")
  %p
    = link_to image_tag("xp_days.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "xp-days")