- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "carousel/01.jpg"
      %div= image_tag "carousel/02.jpg"
      %div= image_tag "carousel/03.jpg"
      %div= image_tag "carousel/04.jpg"
      %div= image_tag "carousel/05.jpg"
      %div= image_tag "carousel/06.jpg"
      %div= image_tag "carousel/07.jpg"
      %div= image_tag "carousel/08.jpg"
      %div= image_tag "carousel/09.jpg"
      %div= image_tag "carousel/10.jpg"
      %div= image_tag "carousel/11.jpg"
      %div= image_tag "carousel/12.jpg"
      %div= image_tag "carousel/13.jpg"
      %div= image_tag "carousel/14.jpg"
      %div= image_tag "carousel/15.jpg"



- content_for :before_carousel do


  %h1.giant.title
    %big
      Agile Tour Brussels 2014
  .large.ribbon October, 31 at EPHEC Brussels
  %br/
  %br/

  %section#call

    %h1.giant.title
      Program is out and .... Registration is open !
    %br
    %br
    %section#sponsors.side_content
      %h3 Gold sponsors
      %p
        =link_to image_tag("small_color_Cegeka logo.png", :alt => "Cegeka"), "http://www.cegeka.com/"
        =link_to image_tag("small_color_scrum_alliance_logo_2013.png", :alt => "Scrum Alliance"), "http://www.scrumalliance.org"
      %p  
        =link_to image_tag("small_color_pyxis_logo.png", :alt => "Pyxis"), "http://pyxis-tech.com/en"
        =link_to image_tag("small_color_LogoWemanity.png", :alt => "Wemanity"), "http://www.wemanity.com/"
      %p.center         
        =link_to image_tag("small_color_brunosbille.png", :alt => "BrunoSbille.com"), "http://brunosbille.com/?page_id=2079&lang=fr"
      %p.center 
        =link_to image_tag("medium_color_agilar_logo.jpg", :alt => "Agilar"), "http://www.agilar.be/"

        

    :markdown
      ### Agile Tour Brussels 2014 Program is out!

      Six tracks, 31 talks, games and workshops, speakers from all over Europe and a lot of great content. 
      
      Whether you are an experienced agile practitioner, or just started diving into the Agile sea, do not miss the chance to have a great day learning and sharing your experiences with other Agile enthusiasts.

      The **Early bird registration is open until September 5th**, you can grab your ticket and get a 30% discount on the full price so hurry up!

    %br
    %br
    %br
    :markdown
      ### What's Agile Tour Brussels?

      Agile Tour Brussels ([http://www.atbru.be](http://www.atbru.be)) is one of the biggest agile conferences in Belgium. Last year we gathered 180 attendees and speakers from Belgium, France, U.S, U.K, Luxemburg, Netherlands and Sweden to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
      At Agile Tour Brussels you will meet a mix of attendees who are either completely **new** to Agile, experienced or **experts**
  
      If you have any questions, feel free to drop an email at [bruno@atbru.be](mailto:bruno@atbru.be)
      If you cannot make it, you can still support us by tweeting about #atbru, blogging, speaking about our event.

      Thanks in advance for your support!

      The Agile Tour Brussels Organization Team.
  %section#team
    %h1.giant.title Meet the crew
    .member-info
      =image_tag("brunosbille.png", :alt => "Bruno Sbille")
      %ul
        %li
          %a(href="https://twitter.com/brunosbille") @brunosbille 
        %li 
          %a(href="http://be.linkedin.com/in/brunosbille") Bruno Sbille
    .member-info
      =image_tag("alanhortz.jpg", :alt => "Alan Hortz")
      %ul
        %li
          %a(href="https://twitter.com/alanhortz") @alanhortz 
        %li 
          %a(href="http://be.linkedin.com/in/alanhortz") Alan Hortz
    .member-info
      =image_tag("mauriziopedriale.jpg", :alt => "Maurizio Pedriale")
      %ul
        %li
          %a(href="https://twitter.com/mpedriale") @mpedriale 
        %li 
          %a(href="http://be.linkedin.com/in/mpedriale") Maurizio Pedriale
         

  #flash
    %p
       
