- content_for :carousel do
  #slideshow
    .slides_container
      %div= image_tag "retro.jpg"
      %div= image_tag "tiago.jpg"
      %div= image_tag "lego_game.jpg"
      %div= image_tag "audience.jpg"
      %div= image_tag "atbru.jpg"

%h1.giant.title Agile Tour Brussels 2013
.large.ribbon September 27 at EPHEC Brussels

%section#call
  %br/
  %br/
  %h2 Registrations are open!
  %p We are proud to announce that the 2nd edition of the Agile Tour Brussels is on!
  %p Last year, we gathered attendees and speakers from Belgium, France, the Netherlands and Switzerland to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.
  %p At Agile Tour Brussels you will meet a mix of attendees who are either completely new to Agile, experienced or experts.
%section#getting-there
  %h2 Getting to the EPHEC
  %h3 By train
  %p
    Merode station is at 14 min. distance by underground.
  %h3 By underground
  %p
    Line 1 direction Stockel; Stop Alma at 5 min. walking distance.
  %h3 By car
  %p
    The EPHEC is situated near the “Cliniques Universitaires Saint-Luc”.
  %p There are a few parking spots available in the streets around the EPHEC but we recommend to use public transportation in Brussels. There are different parkings around the city.

  %p EPHEC Ecole Pratique des Hautes Etudes Commerciales  | Avenue Konrad Adenauer 3 | 1200 Woluwe-Saint-Lambert

#location
  #map