#speakers-call October 26 2012
%section#intro
  %h2 Thanks all for coming!
  %p
    We gathered almost 100 people together for this first edition of the Agile Tour Brussels. Thank you all for coming and making this event so special. We will not forget the great atmosphere and the happy faces!

%section#location
  %h2 The participants
  %p= image_tag("beer.jpg", :class => "home")

%section#organizers
  %h2 The crew
  = link_to image_tag("brunosbille.png", :class => "face"), "http://be.linkedin.com/in/brunosbille"
  %p
    %strong= link_to "Bruno Sbille", "http://be.linkedin.com/in/brunosbille", :class => "linkedin"
    %br
    = mail_to "bruno.sbille@gmail.com", "bruno.sbille@gmail.com"
    %br
    = link_to "@BrunoSbille", "http://twitter.com/brunosbille", :class => "twitter"

  = link_to image_tag("mlainez.png", :class => "face"), "http://be.linkedin.com/in/marclainez"
  %p
    %strong= link_to "Marc Lainez", "http://be.linkedin.com/in/marclainez", :class => "linkedin"
    %br
    = mail_to "ml@theotherguys.be", "ml@theotherguys.be"
    %br
    = link_to "@mlainez", "http://twitter.com/mlainez", :class => "twitter"

  = link_to image_tag("jbpros.png", :class => "face"), "http://be.linkedin.com/in/jbpros"
  %p
    %strong= link_to "Julien Biezemans", "http://be.linkedin.com/in/jbpros", :class => "linkedin"
    %br
    = mail_to "jb@jbpros.com", "jb@jbpros.com"
    %br
    = link_to "@jbpros", "http://twitter.com/jbpros", :class => "twitter"

  = link_to image_tag("romaingweb.jpg", :class => "face"), "http://be.linkedin.com/in/romaingweb"
  %p
    %strong= link_to "Romain Gérard", "http://be.linkedin.com/in/romaingweb", :class => "linkedin"
    %br
    = mail_to "romaingweb@gmail.com", "romaingweb@gmail.com"
    %br
    = link_to "@romaingweb", "http://twitter.com/romaingweb", :class => "twitter"

%section#sponsors
  %h2 Supporting communities
  %p
    = link_to image_tag("scrum_alliance.jpg", :class => "sponsor-home"), sponsors_path(:anchor => "scrum-alliance")
  %p
    = link_to image_tag("agile_systems.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "agile-systems")
  %p
    = link_to image_tag("xp_days.png", :class => "sponsor-home-no-border"), sponsors_path(:anchor => "xp-days")