- if false # disabled content
  - content_for :carousel do
    #slideshow
      .slides_container
        %div= image_tag "sponsors.jpg"

.edition_2014
  %h1.giant.title Agile Tour Brussels 2014
  .large.ribbon Sponsors

  %section.sponsor#options
    %br
    %br
    %p
      Want to see your company here? Have a look at our 
      %a(href="./sponsoring.html") Sponsoring options 
      and contact 
      %a(href="mailto:sponsoring@atbru.be") sponsoring 
      to see how we can work together to make Agile Tour 2014 a great day for the participants and your company.
  %section.sponsor#scrum-alliance

    - if false # Disable Prowareness as it is not a sponsor for 2014
      %br/
      %br/
      :markdown

        ## Prowareness

        [ #{ image_tag "prowareness_logo_large.png", class: :sponsor } ]( http://www.prowareness.nl )

        [Prowareness](http://www.prowareness.nl/) helps organizations with their challenges since 2004. We do this
        with the help of our Agile Software Development Teams on one hand, and on the
        other with our Agile Consultants. Our Consultants help teams, management and
        entire organizations to reach a higher level of Agility.

        Due to our success we are looking for more Consultants. Do you want to
        have a closer look at Prowareness, meet our Consultants, walk around in
        our new office and see our Wall of Transparency? Sign up for the
        [Prowareness Experience](http://www.scrum.nl/event/Prowareness-Experience-140305-2)
        and get an idea on how it would feel like to be a
        Propassional. Go to Prowareness.nl for more information.



    %br/
    %br/
    :markdown

      ## Cegeka

      [ #{ image_tag "Cegeka logo.png", class: :sponsor } ]( http://www.cegeka.com/ )

      [Cegeka](http://www.cegeka.com/) is the largest independent ICT company in Belgium, with a 500 strong,
      state-of-the art agile Software Factory in Leuven. Cegeka helps its customers
      with:

      - Professional services: our consultants, project managers and IT specialists are ready for short-term or long-term assignments
      - Application solutions: design, (custom) development and implementation of business and enterprise applications and digital communication solutions.
      - Infrastructure solutions: for the realization of ICT-infrastructure projects or migrations, including 24/7 (remote) management
      - Outsourcing solutions: for complete infrastructure management, workplaces and/or application environments In our agile Software Factory, we work closely with our customers and deliver business value by developing and implementing applications and web communication solutions. Our agile best practices, our agile competence centers and our continuous learning programs make our software factory a great place for developers who want to create great things.

      Visit [www.cegeka.com](http://www.cegeka.com/) for more information.


    - if false # Disable iLean as we're not sure yet if they will sponsor in 2014
      %br/
      %br/
      :markdown

        ## iLean

        [ #{ image_tag "iLeanLogoLarge.png", class: :sponsor } ]( http://www.ilean.be/ )

        We help our customers to build and deliver more valuable products by implementing or further improving Agile and Lean strategies. And according to our customers' results and feedback, we are damn good in doing that!

        So, get in touch with us if you are interested in our high quality Agile training and coaching services. Or let us know if you have a solid experience in Agile or Scrum and you want to join the [iLean](http://www.ilean.be/) team!


    %br/
    %br/
    %section.sponsor#stattys
      %h2 Stattys
      %p= image_tag "stattys.png"
      %p
        We believe that despite the ever increasing amount of apps and software solutions, for the early phase of a creative process, using a pen and Stattys, is still often the most productive, flexible and even fun way to work. <a href="http://www.stattys.com/">Stattys</a> are reusable, recyclable and light to travel with.
      %p= link_to "More info", "http://www.stattys.com"


    %br/
    %br/
    :markdown

      ## Agile Holland

      [ #{ image_tag "agileholland_logo_mini.gif", class: :sponsor } ]( http://agileholland.com/ )

      [Agile Holland](http://agileholland.com/) is een onafhankelijke organisatie van en voor Agile practisanten
      in Nederland. Het is onze missie om het toepassen van Agile principes en
      praktijken te promoten.

    %br/
    %br/
    :markdown

      ## Agile Belgium

      [ #{ image_tag "Agile Belgium.png", class: :sponsor } ]( http://www.agilebelgium.org/ )

      The [Agile Belgium](http://www.agilebelgium.org/) user group is here to share experiences with you, teach new
      useful techniques and to support everyone who wants to improve their software
      development processes. Come to our user group meetings and events to meet
      other people who use agile methods, or want to use it or just want to know
      what agile really is.


    %br/
    %br/
    :markdown

      ## DotNetHub / Journée Agile

      [ #{ image_tag "dotnethublogo.jpg", class: :sponsor } ]( http://www.dotnethub.be/ )
      [ #{ image_tag "journeeagile.png", class: :sponsor } ]( http://www.journeeagile.be/ )

      [DotNetHub](http://www.dotnethub.be/), la communauté Agle et .NET francophone. Nous organisons la [Journée
            Agile](http://www.journeeagile.be/), la conférence agile francophone en Belgique.


    %br/
    %br/
    :markdown

      ## Agile Consortium Belgium

      [ #{ image_tag "AgileConsortium_logo_medium.png", class: :sponsor } ]( http://www.agileconsortium.net/category/belgium/ )

      The goal of the [Agile Consortium Belgium](http://www.agileconsortium.net/category/belgium/) is to offer organisations an
      independent platform where Agile knowledge can be shared. By learning and
      sharing best Agile practices, we strive to inspire our members and guide them
      to become more effective.



    %br/
    %br/
    :markdown

      ## Scrum Day Europe

      [ #{ image_tag "scrumday_europe_logo.png", class: :sponsor } ]( http://www.scrumdayeurope.com/ )

      [Scrum Day Europe](http://www.scrumdayeurope.com/) is a great and lively journey for and by the Agile community
      and friends of Scrum. In 2012, we shared how software can indeed be created in
      30 days. Last year, we expanded our discussion on extending Scrum into the
      Enterprise. With tremendous momentum, join us again on July 3 for our program
      on Evidence-Based Management.


    %br/
    %br/
    :markdown

      ## DevOps Days

      [ #{ image_tag "devopsdays-logo.png", class: :sponsor } ]( http://devopsdays.org/events/2014-belgium/ )

      [DevOps Days](http://devopsdays.org/events/2014-belgium/), the conference that brings development and operations
      together. Thie 5th year anniversary edition will take place on 27 & 28
      October in Ghent. In this 5 year celebration edition, we want to take
      the time to retrospect on the past. AND more importantly, we want to
      give you again a future to dream of. What still needs to be solved, what
      new challenges are we facing?.



    %br/
    %br/
    :markdown

      ## ScrumAlliance

      [ #{ image_tag "scrum_alliance_logo_2013.png", class: :sponsor } ]( http://www.scrumalliance.org )

      Become part of something bigger than you alone.

      [ Scrum Alliance ]( http://www.scrumalliance.org ) brings you together with like-minded people who are passionate
      about Scrum and who dream, explore – and live – project management brilliance every day.

      As a nonprofit professional organization, we provide advocacy, community, and education
      to support this movement, equip our members, and help them succeed with Scrum in
      software development and beyond. Come sprint with us !



    %br/
    %br/
    %section.sponsor#agile-systems
      %h2 Agile Systems VZW
      %p= image_tag "agile_systems.png"
      %p
        Agile Systems is a non-profit whose goals are to build up and disseminate knowledge and experience related to Agile methods and Systems Thinking.
      %p
        The organisation operates mainly in The Netherlands and Belgium. We maintain ties with organisations and people worldwide who have the same interests.
      %p= link_to "More info", "http://agilesystems.org"



    %br/
    %br/
    %section.sponsor#xp-days
      %h2 XPDays Benelux 2014
      %p= image_tag "xp_days2014.png"
      %p
        XP Day Benelux is an international conference about Agile methods, intended for people from all walks of life who are involved with IT. It provides a good opportunity for exchanging ideas and sharing experiences and is suited for both experienced participants and beginners in Agile methods. The focus of this conference is on practical knowledge, real-world experience, and active participation of everyone.
      %p= link_to "More info", "http://xpdays.net"


