- if false # disabled content
  - content_for :carousel do
    #slideshow
      .slides_container
        %div= image_tag "sponsors.jpg"

.edition_2013
  %h1.giant.title Agile Tour Brussels 2013
  .large.ribbon Sponsors


  %section.sponsor#scrum-alliance

    %br/
    %br/
    :markdown

      ## ScrumAlliance

      [ #{ image_tag "scrum_alliance_logo_2013.png", class: :sponsor } ]( http://www.scrumalliance.org )

      Become part of something bigger than you alone.

      [ Scrum Alliance ]( http://www.scrumalliance.org ) brings you together with like-minded people who are passionate
      about Scrum and who dream, explore – and live – project management brilliance every day.

      As a nonprofit professional organization, we provide advocacy, community, and education
      to support this movement, equip our members, and help them succeed with Scrum in
      software development and beyond. Come sprint with us !



    %br/
    %br/
    %section.sponsor#agile-systems
      %h2 Agile Systems VZW
      %p= image_tag "agile_systems.png"
      %p
        Agile Systems is a non-profit whose goals are to build up and disseminate knowledge and experience related to Agile methods and Systems Thinking.
      %p
        The organisation operates mainly in The Netherlands and Belgium. We maintain ties with organisations and people worldwide who have the same interests.
      %p= link_to "More info", "http://agilesystems.org"



    %br/
    %br/
    %section.sponsor#xp-days
      %h2 XPDays Benelux 2013
      %p= image_tag "xp_days2013.png"
      %p
        XP Day Benelux is an international conference about Agile methods, intended for people from all walks of life who are involved with IT. It provides a good opportunity for exchanging ideas and sharing experiences and is suited for both experienced participants and beginners in Agile methods. The focus of this conference is on practical knowledge, real-world experience, and active participation of everyone.
      %p= link_to "More info", "http://xpdays.net"


    %br/
    %br/
    %section.sponsor#stattys
      %h2 Stattys
      %p= image_tag "stattys.png"
      %p
        We believe that despite the ever increasing amount of apps and software solutions, for the early phase of a creative process, using a pen and Stattys, is still often the most productive, flexible and even fun way to work. <a href="http://www.stattys.com/">Stattys</a> are reusable, recyclable and light to travel with.
      %p= link_to "More info", "http://www.stattys.com"