- if false # disabled content
  - content_for :carousel do
    #slideshow
      .slides_container
        %div= image_tag "sponsors.jpg"

.edition_2014
  %h1.giant.title Agile Tour Brussels 2014
  .large.ribbon Sponsors

  %section.sponsor#options
    %br
    %br
    %p
      Want to see your company here? Have a look at our 
      %a(href="./sponsoring.html") Sponsoring options 
      and contact 
      %a(href="mailto:sponsoring@atbru.be") sponsoring 
      to see how we can work together to make Agile Tour 2014 a great day for the participants and your company.
  
  %section#sponsors
    %br
    %br
    :markdown

      ## Gold Sponsors

    .wrap
      #img-box
        =link_to image_tag("medium_color_cegeka_logo.png", :alt => "Cegeka"), "http://www.cegeka.com/"
        =link_to image_tag("medium_color_pyxis_logo.png", :alt => "Pyxis"), "http://pyxis-tech.com/en"
        =link_to image_tag("medium_color_sa_logo.png", :alt => "Scrum Alliance"), "http://www.scrumalliance.org"
        =link_to image_tag("medium_color_wemanity_logo.png", :alt => "Wemanity"), "http://www.wemanity.com/"
        =link_to image_tag("medium_color_brunosbille_logo.png", :alt => "BrunoSbille.com"), "http://brunosbille.com/?page_id=2079&lang=fr"
        

    %br
    %br
    :markdown

      ## Partners

    %br/
    %br/

    %section.sponsor#xp-days

      %p= image_tag "xp_days2014.png"
      %p
        XP Day Benelux is an international conference about Agile methods, intended for people from all walks of life who are involved with IT. It provides a good opportunity for exchanging ideas and sharing experiences and is suited for both experienced participants and beginners in Agile methods. The focus of this conference is on practical knowledge, real-world experience, and active participation of everyone.
      %p= link_to "More info", "http://xpdays.net" , :target => "_blank"

    %section.sponsor#agile-systems
      %p= image_tag "agile_systems.png"
      %p
        Agile Systems is a non-profit whose goals are to build up and disseminate knowledge and experience related to Agile methods and Systems Thinking.
      %p
        The organisation operates mainly in The Netherlands and Belgium. We maintain ties with organisations and people worldwide who have the same interests.
      %p= link_to "More info", "http://agilesystems.org", :target => "_blank"

    %section.sponsor#stattys
      %p= image_tag "stattys.png"
      %p
        We believe that despite the ever increasing amount of apps and software solutions, for the early phase of a creative process, using a pen and Stattys, is still often the most productive, flexible and even fun way to work. <a href="http://www.stattys.com/">Stattys</a> are reusable, recyclable and light to travel with.
      %p= link_to "More info", "http://www.stattys.com", :target => "_blank"


    %br/
    %br/
    %section.sponsor#agile-belgium
      %p= link_to image_tag("Agile Belgium.png", :class => "sponsor"), "http://www.agilebelgium.org/", :target => "_blank"
    :markdown

      The [Agile Belgium](http://www.agilebelgium.org/) user group is here to share experiences with you, teach new
      useful techniques and to support everyone who wants to improve their software
      development processes. Come to our user group meetings and events to meet
      other people who use agile methods, or want to use it or just want to know
      what agile really is.


    %br/
    %br/
    %section.sponsor#journee-agile
      %p= link_to image_tag("journeeagile.png", :class => "sponsor"), "http://www.journeeagile.be/", :target => "_blank"

    :markdown

      La [Journée Agile](http://www.journeeagile.be/), la conférence agile francophone en Belgique.


    %br/
    %br/
    %section.sponsor#journee-agile
      %p= link_to image_tag("AgileConsortium_logo_medium.png", :class => "sponsor"), "http://www.agileconsortium.net/category/belgium/", :target => "_blank"

    :markdown

      The goal of the [Agile Consortium Belgium](http://www.agileconsortium.net/category/belgium/) is to offer organisations an
      independent platform where Agile knowledge can be shared. By learning and
      sharing best Agile practices, we strive to inspire our members and guide them
      to become more effective.


    %br/
    %br/
    %section.sponsor#devops-days
      %p= link_to image_tag("devopsdays-logo.png", :class => "sponsor"), "http://devopsdays.org/events/2014-belgium/", :target => "_blank"

    :markdown


      [DevOps Days](http://devopsdays.org/events/2014-belgium/), the conference that brings development and operations
      together. Thie 5th year anniversary edition will take place on 27 & 28
      October in Ghent. In this 5 year celebration edition, we want to take
      the time to retrospect on the past. AND more importantly, we want to
      give you again a future to dream of. What still needs to be solved, what
      new challenges are we facing?.

    %br/
    %br/

    %br/
    %br/


