#speakers-call Submission deadline: August 17 2012

%h2= t("menu.speakers")

%p
  The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile. We would like this event to be an Agile Belgium community gathering.
%p
  To submit a session, we ask you to:
%ul
  %li== Create an account on the agile tour website #{link_to 'http://agiletour.org', 'http://agiletour.org'}
  %li== Fill in the form located here: #{link_to 'http://at2012.agiletour.org/en/callForSpeaker.html', 'http://at2012.agiletour.org/en/callForSpeaker.html'} (don't forget to specify that you are applying for Agile Tour Belgium - Brussels)
  %li Specify the size of the audience you'd like to have for your session: we have rooms with a capacity of 20, 60 and 80 persons

%p
  Additional information:

%ul
  %li Sessions must be in English
  %li We would prefer to have sessions of 1 hour maximum

%p For the topics feel free to suggest sessions regarding Agile, Scrum, Technical and coding sessions, Lean, Management, Product Aspect, Agile Games, KanBan, Testing, Lean Startup, Leadership, Coaching, XP… Or anything you mind find relevant for such a conference. Deadline for submission is : 17 August 2012

%p If you have problems with the form, you can also send me your session proposition vie email: bruno.sbille@gmail.com

%p Thanks in advance for your support !

- if nil
  %ul#speaker-list
    %li
      .bullet
      .name Marc Lainez
      .bio
        = image_tag ""
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
    %li
      .bullet
      .name Marc Lainez
      .bio
        = image_tag ""
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
  .top-link= link_to "Top", "#speaker-list"
