%ul#speaker-list
  %li
    .bullet
    .name Stephane Rondal
    .bio
      = image_tag "http://a0.twimg.com/profile_images/915020061/stephane.rondal_gmail.com_b711d754.jpg"
      %p
        When he's not busy with his family, traveling, or toying around with geeky stuff, Stephane Rondal is an avid Agilist. He has been learning, applying and teaching Agile since 2005, on solo projects up to projects involving highly distributed teams.  Stephane is a frequent trainer on Agile matters, as well as a Java/Java EE architect. He's also the co-founder of Arexo, a Belgian IT consultancy company.

  %li
    .bullet
    .name Tiago Garcez
    .bio
      = image_tag "http://www.scrumalliance.org/system/user/photo/72355/200x200/WebID.JPG?1278045538"
      %p
        I am an Agile Coach, passionate about helping organizations in implementing change strategies focused on Agile / Lean and a culture of continuous improvement. With a background in project management and business analysis, I became actively involved with Agile / Scrum over 5 years ago and have since worked within large Agile change initiatives. Acting as either a Product Owner or a Scrum Master, I helped software development teams improve their relationship with customers, as well as their ability to deliver value every Sprint. In the last 2 years I have been working as an Agile Coach, helping small and large organizations in their Agile change initiatives. I'm currently working as an Agile Coach at Belgacom, where I am helping to lead the Enterprise Scrum initiative. I'm actively involved with the Agile community in Europe and am interested in helping to explore Agile theories and practices, and how they can address the challenges faced by organizations today.

  %li
    .bullet
    .name Alan Hortz
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/4/000/176/3c2/1f9ab26.jpg"
      %p
        Alan est actuellement Scrum Master pour la société Ogone. Ogone est un acteur spécialisé dans les services de paiement électronique. En plus de ses 9 années d’expérience dans le monde IT, il termine actuellement un master en informatique aux facultés universitaires Notre Dame de la Paix à Namur. Alan est passionné par l’informatique depuis que ses doigts se sont posés sur le clavier d’un Commodore 64. Depuis sa curiosité l’a amené à explorer les différentes techniques de développement logiciel tel que le unit testing, le développement mobile, l’intégration continue et récemment Scrum et d’autres méthodes Agile.

    %li
      .bullet
      .name Christophe Addinquy
      .bio
        = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/009/12a/3e3b34a.jpg"
        %p
          Christophe Addinquy is projects manager at Vidal where he actively be implied in Scrum deployment in the company. He was also involved in object oriented odoption in the end of the '80 and in the "design patterns" movement in the 90, including participation in conférences and in publications. As a consultant and technical coordinator at Valtech, he pioneered the agile strategy of the company in the early 2000. Outside his professional duties, Christophe Addinquy is the secretary of the French Scrum User Group and member of the bureau since its beginning in 2008.

    %li
      .bullet
      .name Mathieu Despriee
      .bio
        = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/049/2dc/110fb8c.jpg"
        %p
          Mathieu is senior architect and manager at Octo Technology. Graduated from the french engineering school ENSEIRB, he has 11 years of experience in software development, and architecture. Since his arrival at OCTO, he works as well as a consultant on architecture, and as a technical leader in Agile projects.

    %li
      .bullet
      .name Hervé Lourdin
      .bio
        = image_tag "http://m.xx.c.akam.licdn.com/media/p/1/000/028/189/25eba21.jpg"
        %p
          Hervé is consultant and manager at OCTO Technology. Hervé has 12 years of experience as IS architect, starting at SUN Microsystems on infrastructure topics, and then at OCTO Technology. He also acts as agile coach and team facilitator. Hervé has led transitions to agile for numerous customers. He is today product manager of the private appstore service appaloose-store.com

    %li
      .bullet
      .name Jan De Baere
      .bio
        = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/079/10c/2acb685.jpg"
        %p
          Jan is a change manager/advisor in the field of IT with a focus on business benefit and people. He discovered Agile during this active participation in the cultural transformation of his company towards adhocraty (same values as Agile). In this transformation he started up corporate governance and did it the Agile way. Today Jan is a scrum coach at Electrablel – BeNeDeLux – where he introduced scrum and kanban & visual management. He is also a certified scrum professional.

  %li
    .bullet
    .name Jef Cumps
    .bio
      = image_tag "http://ilean.be/docs/jefcumps.jpg"
      %p
        Jef is specialized in Scrum and Agile coaching and training. He has gained a lot of experience while supporting organizations, teams and individuals into adopting Scrum and Agile best practices. Jef is one of the very few Certified Scrum Coaches worldwide. Next to Scrum and Agile, Jef’s passions include training, professional coaching and communication. This makes him an Agile trainer and coach that is creating value by focusing on people and teamwork. Some recent, happy customers of Jef are: ING, SD Worx, GeoDynamics, Luminus, Provincie Antwerpen, Sony, Vivium and Nike.

  %li
    .bullet
    .name Ron Eringa
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/124/386/036ae2c.jpg"
      %p
        In his daily job, Ron Eringa is an Agile coach, currently working at Philips Healthcare. Since he started his career 12 years ago he has encountered lots of softare projects, struggling with traditional development methodologies, having forgotten how beautifull it is to develop software. However, about 6 years ago he also encountered projects working with Scrum & Agile and he saw that teams rediscovered that original spark that made them become good software developers. In the last few years Ron has been providing Agile workshops and coaching Agile teams while also participating as a Scrum master and Developer himself. Ron is an enthousiastic speaker, who enjoys to share knowledge and work with empowered teams. In his private life, Ron is a husband and father of 2 daughters. His hobbies are running, skiing, photography and reading.

  %li
    .bullet
    .name Céline Stauder
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/1/000/0c5/183/2c08efb.jpg"
      %p
        Après ses études à Oxford en 2006, Céline découvre l'agilité en tant que membre de l’équipe au travers des pratiques XP et Scrum. En intégrant CLT Services, elle a successivement occupé des rôles de Scrum Master et de Product Owner dans des grands comptes mais aussi en interne au travers sur projets au forfaits. Animée par une réelle passion de l'Agilité et des techniques de facilitation, elle accompagne aujourd'hui en tant que consultante, facilitatrice et formatrice des équipes et des managers souhaitant intégrer des pratiques agiles et augmenter leur collaboration afin d’atteindre des objectifs d’amélioration concrets.

  %li
    .bullet
    .name Pierre-Emmanuel Dautreppe
    .bio
      = image_tag "http://www.dotnethub.be/Data/Sites/1/_speakers/pierre.jpg"
      %p
        Working as Software Architect and agile coach

  %li
    .bullet
    .name Erik Talboom
    .bio
      = image_tag "https://twimg0-a.akamaihd.net/profile_images/1174575886/ikke.jpg"
      %p
        I'm a strong believer in agile development and software craftsmanship. The basis of both of these mindsets is continuous learning. Therefor I spend my time learning new things and helping other people in their learning paths. If you want to know more about me: http://about.me/talboomerik

  %li
    .bullet
    .name Steve Conard
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/4/000/13d/3d9/06bd27d.jpg"
      %p
        As project manager, Steve has gained experience in different complex environments. According to Steve, a good use of methodology is important, but people are the key to success. He is driven by a passion to achieve success by working together with his team. The team is my strength, is Steve's motto! Jef Cumps Jef Cumps is working as an Agile and Scrum coach for iLean. His main focus is facilitating Scrum transitions within teams and organizations, supporting durable changes towards a culture based on trust, results and continuous improvement.

  %li
    .bullet
    .name Pierrick Revol
    .bio
      = image_tag "http://www.valtech.fr/etc/medialib/images/Evenement/agile_france.Par.49746.Image.gif?direct=1"
      %p
        After 8 years of software development for the industry (Transportation, Aeronautic, Military) Pierrick Revol turned to Agile Methods and experienced it on critical projects during 3 years. He has recently joined Valtech coach team and he is now supporting major industries in their adoption of Scrum.

  %li
    .bullet
    .name Wim Bollen
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/3/000/060/048/3bfdd18.jpg"
      %p
        I am a Lean/Agile transformation and process improvement practitioner. My focus is to realize change in technology organizations. My approach: - Be a member of the delivery organization and make the change happens, and - Be a coach for people and teams to acquire the skills and mindset (their second nature) to continue the Lean/Agile transformation.

  %li
    .bullet
    .name Ben Cassiman
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/05a/2a4/30454a2.jpg"
      %p
        Ben has worked in senior positions in various companies leading project teams, commercial teams as well as marketing teams. He uses his expertise and his natural flair for communication and relationship building to help organizations and people improve on their relationships and communication with other team members, colleagues or customers.

  %li
    .bullet
    .name Bruno Sbille
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/4/000/16e/30d/36d59c4.jpg"
      %p

  %li
    .bullet
    .name Pascal Van Cauwenberghe
    .bio
      = image_tag "http://www.leankanban2010.be/img/speakers/pascal.png"
      %p



.top-link= link_to "Top", "#speaker-list"


