%h1.giant.title Agile Tour Brussels 2013
.large.ribbon Speakers List

%br/
%br/

%ul#speaker-list
  %li#bruno-sbille
    .bullet
    .name Bruno Sbille
    .bio
      = image_tag "speakers/bruno_sbille.png"
      %p
        My name is Bruno Sbille and I am an Agile Coach and Trainer. I am also Certified Scrum Trainer (CST), which means I can teach the Certified ScrumMaster (CSM) from the  Scrum Alliance. I am the only one Belgian trainer able to give this training in French, and part of the few French-native speaker in the world to hold the CST certification. I train also in English.

        I use and teach Agile and Scrum since 2006. I’m passionate about these methods and I helped many companies from different sizes and from different sectors to implement them.

        I am an active member of the Agile Belgium and France communities. I’m an organizer of Agile conferences (Agile Tour Brussels, Scrum Gathering) and I am also speaker in Agile conferences such as Agile 2013, Le Scrum Day, Agile France, Scrum Gathering Paris, XPDays Benelux, Agile Tour,…

        In addition to my interest in Scrum, I teach and use also subjects like psychology, coaching, people management and various creativity techniques. I am also a Life Coach and a Therapist.
  %li#ben-linders
    .bullet
    .name Ben Linders
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Ben Linders is a Senior Consultant in Agile, Lean, Quality and Process Improvement, based in The Netherlands. Co-author of Getting Value out of Agile Retrospectives. As an advisor, coach and trainer he helps organizations by deploying effective software development and management practices. He focuses on continuous improvement, collaboration and communication, and professional development, to deliver business value to customers. Ben is an active member of several networks on Agile, Lean and Quality, and a frequent speaker and writer. He shares his experience in a bilingual blog (Dutch and English) and as an editor for Agile at InfoQ. You can find him on twitter: @BenLinders.
  %li#wim-heemskerk
    .bullet
    .name Wim Heemskerk
    .bio
      = image_tag "speakers/wim_heemskerk.png"
      %p
        Wim Heemskerk helps teams to be agile in their practices. He is an Agilist, a software craftsman, and a Stoosian. As a hands-on change agent, he stimulates the alignment of process, technology and organisation. Wim connects the dots to translate complementary models and their principles to day to day actions. He works to create lasting change, the kind people say they created and wanted themselves. He supports others on their quests for agility, leadership, great software and test automation that actually pays off. You'll find him coaching and training with passion and always ready to try a fresh angle.
  %li#dirk-mulder
    .bullet
    .name Dirk Mulder
    .bio
      = image_tag "speakers/dirk_mulder.png"
      %p
        Dirk Mulder is a senior managing consultant with a focus on Organizational Change management, Leadership, Personal & Team Coaching and Training. As a change manager and coach he works on creating lasting results by supporting and coaching indididuals, teams and organizations in discovering their limiting believes and obstacles in procedures and structures. Dirk started his career in ICT development, moved to Educational Services and has been working in Consulting Services for the last 20 years.
  %li#domenico-musto
    .bullet
    .name Domenico Musto
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/media/p/1/000/072/182/21b0331.jpg"
      %p
        Software architect with more than 10 years of experience in developing high volume/performance scalable web applications. In the last few years I've lead the migration to an agile approach of various companies. Today I live between Toulouse and London where I lead a scrum team in Huddle. My job is mainly about architecture, mentoring and implementation of agile practices. The technologies I usually work with are .NET, C# e Ruby. I am a frequent speaker at international conferences

  %li#kris-philippaerts
    .bullet
    .name Kris Philippaerts
    .bio
      = image_tag "speakers/kris_philippaerts.png"
      %p
        Hi, I'm Kris and I'm an Agile Coach and Trainer at iLean. I assist organizations in adopting an agile culture and in implementing agile and lean techniques such as Scrum and Kanban. I love communicating with different people and I'm capable of adjusting my communication style to different audiences. During the years, I developed a vast experience in organisatorial coaching. Together with my technical roots, this gives me the ability to understand both management and team members, and help them communicate with each other more effectively. Next to organisatorial coaching, I'm also a passionate Agile trainer and I often facilitate workshops and sessions on Agile Conferences. During my trainings and workshops, I always aim to find a good match between the conceptual ideals and the not-so-ideal reality. I use my extensive coaching experience to pervade my trainings with hands-on examples and loads of tips and tricks.

  %li#frederic-vandaele
    .bullet
    .name Frederic Vandaele
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/1b8/3a6/0f71742.jpg"
      %p
        Frederic is currently working as Project Manager for Trasys and is mainly involved in IT projects for international institutions. On a daily basis, he facilitates the implementation of Agile methods like Scrum and Kanban in dev teams and provides coaching support to other companies. He is an Agile trainer and a passionate Innovation Games practitioner.
  %li#arik-azoulay
    .bullet
    .name Arik Azoulay
    .bio
      = image_tag "speakers/arik_azoulay.png"
      %p
        Arik is working for 15 years in Technology Management, ranging from Start-ups to Large Corporations in Israel, Belgium, France and Switzerland. He created in 2011 the consulting company 26lights, starting with the question: how do we make successful IT Projetcts????? The first answer: get good developers that are motivated to use modern tech stack. The 2nd answer: Simplify complexity; don't copy paste Excel sheets to code, imagine efficient process with the business and creative solutions. The 3rd answer: give a soul to the project by aligning it to the company mission His moto: Do more with less. He loves to find the way to delivers more beauty with less ressources.

  %li#jan-de-baere
    .bullet
    .name Jan De Baere
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Jan is into Agile for many years now. The last 5 years working in scaling Agile. Answering the question of how to get Agile into the bigger companies. He introduced Agile, visual management, scrum and kanban at Electrabel. Today he is working on the transformation of ING using the SAFe framework. Jan is the chairman of Agile Consortium Belgium, the Agile platform for and by organisations.
  %li#peter-moreno
    .bullet
    .name Peter Moreno
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        My name is Peter Moreno and I was born in Chile. I started my personal growth journey exploring areas such self-esteem, meditation, various healing, human psychology and spirituality. Out of these experiences, I have developed 3 programs: a) Manifest your life purpose and b) The Inner Innovation and c) Evolving to a Better Me. My passion about these topics is constantly growing and my effort to combine both IT Knowledge and Personal Growth is one of the main drivers for my human evolution. I studied Computer Science and Integral Coaching among many other subjects related to Agile, Scrum and Personal Growth. I work as a full time Agile Coach (Agile Coach) and Life Coach (Inner Innovation).
  %li#dajo-breddels
    .bullet
    .name Dajo Breddels
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Agile Coach, Game Designer and Personal Coach Certified: PSM, PSPO, PST, NLP trainer

  %li#patrick-steyaert
    .bullet
    .name Patrick Steyaert
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Patrick is currently working with a global Japanese Manufacturer, on a Pan-European business change project using Lean Visual Management methods. Patrick is a hands-on Lean and Agile Coach with an outstanding track record in delivering successful change in large and small ICT and technology organizations. He is an accredited Lean Kanban University Trainer and has a PhD in Computer Science.
  %li#jas-chong
    .bullet
    .name Jas Chong
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Change management in organisation. Using agile and systemic methods in step change.
  %li#oana-juncu
    .bullet
    .name Oana Juncu
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/female200.png"
      %p
        Oana likes to call herself a Business DJ that mixing every practice useful for individuals and organisation to become proud of their results and create products that delight their customers. In her mix there is, Agile, Lean, kanban, Leanstartup, User Experience , LeanStartup, neurosciences and storytelling.
  %li#stephane-rondal
    .bullet
    .name Stephane Rondal
    .bio
      = image_tag "speakers/stephan_rondal.png"
      %p
        When he's not busy with his family, traveling, or toying around with geeky stuff, Stephane Rondal is an avid Agilist. He has been learning, applying and teaching Agile since 2005, on solo projects up to projects involving highly distributed teams. Stephane is a frequent trainer on Agile matters, as well as a Java/Java EE architect. He's also the co-founder of Arexo, a Belgian IT consultancy company.
  %li#nick-oostvogels
    .bullet
    .name Nick Oostvogels
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Nick Oostvogels is an independent Belgian consultant who has worked at different companies in various industries. He helps organizations to build successful products. He is a proud father of a daughter and twin boys, and enjoys outdoor sports such as mountain bike, soccer and drinking a Duvel afterwards. Nick is a regular blogger at skycoach.be and enjoys speaking and learning at conferences.
  %li#mathias-verraes
    .bullet
    .name Mathias Verraes
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Mathias Verraes is a recovering music composer turned programmer, consultant, blogger, and speaker. He advises companies on how to build enterprise web applications for complex business domains . For some weird reason, he enjoys working on large legacy projects: the kind where there’s half a million lines of spaghetti code, and nobody knows how to get the codebase under control. He’s the founder of the Domain-Driven Design Belgium community. When he’s not working, he’s at home in Kortrijk, Belgium, helping his two sons build crazy Lego train tracks.
  %li#simon-jaillais
    .bullet
    .name Simon Jaillais
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Simon likes to describe himself as a convinced and active agilist. He started his first agile experience with Scrum 5 years ago. Today, he is greatly involved with the organisation Agile Rennes (West of France) and its Agile Tour to exchange and raise awareness on agile values and principles. He is a facilitator at a banking IS company and a coach for teams and projects willing to implement collaborative practices. Curious and open-minded he likes to share views on what people think of agility.

  %li#aurelien-morvant
    .bullet
    .name Aurélien Morvant
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Enzyme (as catalyst) agile. I went through all stages of agility - Agile developer and scrum master for a few years and coach / facilitator today. Helping companies on agile deployment at team and organization level, but also internally, I take every opportunity to implement agile values. 

        My areas of expertise are facilitation, human interactions, agility and serious games. 
        I am also president of the association Agile Rennes that promotes agile approaches in Britany (France). 
        My latest passion is performed every weekend : I help the more courageous people to jumping off a bridge with bungee (a kind of change management).

  %li#tiago-garcez
    .bullet
    .name Tiago Garcez
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/212/1aa/061de81.jpg"
      %p
        Tiago is an Agile Coach and has been helping organizations implement change strategies focused on Agile / Lean and a culture of continuous improvement for the past 7 years. During this time he has been working with companies such as bpost, Belgacom, Vueling, TUI Travel and eBay, helping them along their Agile change initiatives. Working with both teams and managers, Tiago has experienced first hand many of the challenges faced by organisations trying to become more Agile. His recent activities and interests are in Agile outside of IT and Agile organisational design.
  %li#xavier-warzee
    .bullet
    .name Xavier Warzee
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Xavier Warzee, CSP, coach et fondateur de "Scrum Conseil" Xavier est coach agile depuis 2005, certifié ScrumMaster en 2006 et a été responsable de l'offre "Usines Logicielles" en 2006 et 2007 chez Valtech. Il a, à ce tire, développé des compétences approfondies sur l'industrialisation des développements basée sur les pratiques XP et le pilotage de projets avec Scrum. En 2008, Xavier a rejoint Microsoft pour aider ses clients et partenaires dans la diffusion du pilotage de projets en mode agile. Après être intervenu comme orateur à la conférence Agile2008 à Toronto, Xavier a été orateur à l'AgileTour en 2008, 2009 et 2010. En juin 2010, Xavier a été élu président du "French Scrum User Group" et a créé le ScrumDay en 2011. Depuis, il est le leader de l'équipe organisatrice des éditions du "Scrum Day" qui ont eu lieu de 2011 à 2014 et qui ont regroupées à chaque fois environ 500 personnes. En novembre 2011, Xavier a rejoint Palo IT en tant que Directeur Technique "Agile" mettant en place des "communautés de pratiques" (Java, .NET, PHP, Agile) créant ainsi une culture d'entreprise "apprenante", chère à Peter Senge, facilitant créativité et innovation. En octobre 2012, Xavier a été certifié "Innovation Games Trained Facilitator" et, en janvier 2013, a été orateur à l'Innovation Games Summit organisé à Santa Clara, Californie, au sujet d'une transformation agile menée dans une grande banque de détails européenne à l'aide des "Innovation Games". En juin 2013, Xavier a été certifié coach "Action | Types®" afin d'individualiser le leadership des talents dans les organisations. Xavier a d'ailleurs présenté un keynote à ce sujet au Scrum Day 2012 et un atelier au Scrum Boat de juin 2013.

  %li#michel-grootjans
    .bullet
    .name Michel Grootjans
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Michel Grootjans has been programming since the age of 12. He has programmed strange machines like the TI 99-4A, the Atari 2600, Mac128, HP28, Apple II, Siemens PLC's using languages like Basic, Pascal, C, HyperTalk, Assembler, ... along the way. His professional experiences includes building enterprise applications for government, chemical plants, telecom, HR, insurance companies, ... in java, C# and ruby. He's an independent technical agile coach. He coaches agile teams on continuous improvement, trying to find the most productive principles and practices to deliver value for the customer as fast as possible, while aiming for a product that is both flexible and maintainable. Presentation Bio: Several internal presentations, including: - continuous integration in .net (in 2004, long before TFS) - the importance of readability in code - refactoring to patterns with ReSharper - several coding dojos in C#, Ruby and javascript - getting started with NHibernate - pragmatic project setup => how to privately setup source control and CI in 15 minutes Gives a three-day training about principles, patterns and practices, including the GoF patterns and the SOLID guidelines XP days belenelux 2009, 2013 and mini XP days 2010 - agile acceptance testing with FitNesse Agile .net Europe 2011 - timesaving tools for .net developers - the importance of readability in code ACCU 2012 and 2013 - the importance of readability in code - TDD Rails from the outside-in Arrrrcamp 2012 - lightning talk on ook!
  %li#andrea-darabos
    .bullet
    .name Andrea Darabos
    .bio
      = image_tag "speakers/andrea_darabos.png"
      %p
        Andrea Darabos is a Consultant in Lean, Agility, based in the UK. As an advisor, coach and trainer she helps organizations become more agile and customer-focused via lean change and kaizen. She coaches entrepreneurs, teams and management on continuous improvement, helps them rethink their business models, management systems and practices. Andrea is an active member of several networks on Agile, Lean, a Management 3.0 facilitator, and a frequent speaker and event organizer. You can find Andrea on twitter: @ADarabos.
  %li#alexandre-boutin
    .bullet
    .name Alexandre Boutin
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Alex discovers Agility in 2004 and supports its promotion in Europe, Asia and India for Yahoo International from 2005 to 2009. In early 2009, Alexander founded AGILETOYOU to train and support many customers eager to become "Agile" (Orange, EDF, Total, Samse, BBC, HP, Schneider, Sanofi ...) and since 2012, Alexandre deploys the agility outside of IT. Alex is a frequent speaker in French conferences and is vice president of CARA Grenoble (Club Agile Rhône Alpes) ... and a game lover
  %li#alan-hortz
    .bullet
    .name Alan Hortz
    .bio
      = image_tag "speakers/alan_hortz.png"
      %p
        Alan has a passion for computers since his first Commodore 64 and think technologies must serve the human being. He is convinced that it is really important to understand clearly the needs and problems before building creative and innovative solutions. Alan evangelizes the benefits of the Agile values and principles since 2010 and has recently co-founded <a href="http://handson.io">handson.io</a>, a movement dedicated to the promotion of rapid prototyping techniques for software engineering, electronics and robotics. Alan is currently "Agile Coach" at Ingenico Payment Services (formerly Ogone).

  %li#gunther-verheyen
    .bullet
    .name Gunther Verheyen
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        Gunther Verheyen (gunther.verheyen@scrum.org ) ventured into IT and software development after graduating in 1992. His Agile journey started with eXtreme Programming and Scrum in 2003. Years of dedication followed, of working with several teams and organizations, of using Scrum in diverse circumstances. Building on the experience gained, Gunther became the driving force behind some large-scale enterprise transformations. Gunther is a partner to Ken Schwaber, Scrum co-creator, at Scrum.org. He is Professional Scrum trainer and directs the series of ‘Professional Scrum” products of Scrum.org. He shepherds classes, trainers, courseware and assessments. He co-created the ‘Evidence-Based Management’ framework of Scrum.org to help organizations improve their agility. In 2013 Gunther published a ‘smart travel companion’ to Scrum, his highly appraised book “Scrum – A Pocket Guide.” Gunther lives in Antwerp (Belgium) with his wife Natascha, and their children Ian, Jente and Nienke. Find Gunther on Twitter as @ullizee or read more of his musings on Scrum on his personal blog, http://guntherverheyen.com.
  %li#cliff-depreytere
    .bullet
    .name Cliff Depreytere
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        I'm a 32 year old business consultant living in Kortrijk and working for Cronos. Mainly supporting business analysts and product owners who have to deal with numerous business needs. Putting the focus on visualizing and communicating the big picture towards all the different layers in in an organization. I'm a CSM, CSPO and CSP and highly interested in everyhting that has to deal with agile , lean , leadership , coaching, collaboration and facilitation. Next to that I'm just a cheerful guy enjoying life at the fullest :)
  %li#sophie-de-carriere
    .bullet
    .name Sophie de Carrière
    .bio 
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/female200.png"
      %p
  %li#gilles-scokart
    .bullet
    .name Gilles Scokart
    .bio
      = image_tag "speakers/gilles_scokart.png"
      %p
        Gilles is an IT engineer used to work in teams on large projects. Having studied and practiced the methods of so-called "classical" development, he turned to agile methods such as XP, Scrum, Lean or Kanban. As a scrum master and team lead he has coached several teams trying different approaches with varying success. He is also an occasional speaker in agile conferences
        %br
        <a href="http://be.linkedin.com/in/gscokart">http://be.linkedin.com/in/gscokart/</a>
        %br
        <a href="https://twitter.com/GScokart">https://twitter.com/GScokart</a>
        

  %li#pierre-e-neis
    .bullet
    .name Pierre E. Neis
    .bio
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        I'm Pierre, leading a team of Agile Coaches, still on the field to stay connected with the reality. Background: Product Management, Program Management, Change and Transition, Service Design, R&D, Global Alignment, Kaizen Coach > Lean Coach > Scrum & Agile Coach Key differentiator: Dynamic "Sports" Coach or Dynamo Coach
  %li#martin-van-aken
    .bullet
    .name Martin Van Aken
    .bio 
      = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
      %p
        I am Martin, a software engineer and team leader with a degree in economics. After some years spent in teaching future programmers, I did work as a programmer, customer contact, team leader, architect, agile coach and sometimes a mix of those. I am now spending most of my time on PullReview aiming to help Ruby developers to improve their coding practices.
  %li#vijayanand-nagaraj
    .bullet
    .name Vijayanand Nagaraj
    .bio 
      = image_tag "speakers/vijayanand_nagaraj.png"
      %p
        I am an enthusiastic IT professional having 11 years of experience in Consulting, Project Management, Coaching, Mentoring & Training. I passionately believe and breathe the agile values & principles and hence go about evangelizing the frameworks such as Scrum, Extreme Programming (XP) and Kanban. Knowledge on agile is primarily through hand-on experience as developer, scrum master, coach, consultant and trainer. However, for the certification seekers I am an ICAgile Certified Professional – Agile Coaching, CSM and CSPO. ­I actively participant in several agile conferences, groups and meet up's. I have trained over 800 professionals on Agile and consulted with several multinational organizations in different geographies. In all my assignments I aim to coach that 'Agility is A-frame of mind'.
  %li#patrice-willemot
    .bullet
    .name Patrice Willemot
    .bio
      = image_tag "speakers/patrice_willemot.png"
      %p
        I started my career as a manual test engineer working in a waterfall approach. Since that project I am convinced that working in an iterative way (agile, lean or …) is a solution for failing projects. Since 2008 I am a solution architect for software testing in order to help customers in having better quality through an optimization of the different test activities. I am an agile minded tester and curious how different test approaches can be used within agile environments.
  %li#xavier-quesada-allue
    .bullet
    .name Xavier Quesada Allue
    .bio
      = image_tag "speakers/xavier_quesada_allue.jpg"
      %p
        Consultant, coach, trainer, project manager and author, specializing in applying Lean-Agile-Scrum methods to create high performance, continuously improving teams and organizations. Certified Scrum Coach & Trainer and author of the Visual Management Blog. Community leader and frequent international conference speaker, passionate about promoting lean and agile methodologies as a more productive and more sustainable way of working. Founder of Agilar.

- if false

  %li#pascal-van-cauwenberghe
    .bullet
    .name Pascal Van Cauwenberghe
    .bio
      = image_tag "http://www.leankanban2010.be/img/speakers/pascal.png"
      %p
        Pascal Van Cauwenberghe is a consultant based in Brussels who tries to solve more problems than he creates. To do this, he uses Agile, Lean, Theory of Constraints and Systems Thinking techniques.
        %br
        %br
        He’s one of the founders of the Belgian XP group and one of the organizers of XP Days Benelux. One day he and Vera Peeters invented the “XP Game“, because they couldn’t explain XP to their team and customers. They’ve learned that games are an ideal way to learn. Since then he tries to transform work into play…

    %li#christophe-addinquy
      .bullet
      .name Christophe Addinquy
      .bio
        = image_tag "http://m.xx.c.akam.licdn.com/media/p/2/000/009/12a/3e3b34a.jpg"
        %p
          Christophe Addinquy is projects manager at Vidal where he actively be implied in Scrum deployment in the company. He was also involved in object oriented odoption in the end of the '80 and in the "design patterns" movement in the 90, including participation in conférences and in publications. As a consultant and technical coordinator at Valtech, he pioneered the agile strategy of the company in the early 2000. Outside his professional duties, Christophe Addinquy is the secretary of the French Scrum User Group and member of the bureau since its beginning in 2008.

    %li#stephane-rondal
      .bullet
      .name Stephane Rondal
      .bio
        = image_tag "http://m.c.lnkd.licdn.com/media/p/1/000/06c/29c/2423111.jpg"
        %p
          When he's not busy with his family, traveling, or toying around with geeky stuff, Stephane Rondal is an avid Agilist. He has been learning, applying and teaching Agile since 2005, on solo projects up to projects involving highly distributed teams.  Stephane is a frequent trainer on Agile matters, as well as a Java/Java EE architect. He's also the co-founder of Arexo, a Belgian IT consultancy company.

  %li#yves-hanoulle
    .bullet
    .name Yves Hanoulle
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/00c/2dd/223a90e.jpg"
      %p
        I started working in IT in 1994.
        %br
        %br
        Software support, developer, team lead, trainer, agile coach, change artist, first follower, most team roles, I did them.  These days I call myself Creative Collaboration Agent.
        %be
        %Be
        I believe that IT is mainly about working with people. A skill that can never be learned enough. Team startups & retrospectives are my favorite ways to help your team(s).
        %br
        %br
        I give Free Lifetime Support (FLS) on anything I do.
        %br
        %br
        In Belgium I'm most know for my leadership game, outside Belgium most for all the online community activities I do.
        %br
        %br
        Our book is called who is agile
        = link_to "http://www.leanpub.com/whoisagile", "http://www.leanpub.com/whoisagile"

  %li#erik-talboom
    .bullet
    .name Erik Talboom
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/0a8/2c6/31cad3e.jpg"
      %p
        Erik Talboom loves to help other people out, it's something that has been important for him as long as he can remember. He used to tutor people while he was still in school, helping out fellow students whenever he had the chance. It wasn't that weird that after a few years of professional experience, he ended up teaching class. He has trained and coached several teams on different subjects, ranging from process oriented topics like scrum, kanban and effective collaboration through gamestorming to more technical focused topics like test automation, test driven development and software craftsmanship principles.

  %li#hans-smorenburg
    .bullet
    .name Hans Smorenburg
    .bio
      = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg"
      %p
        Hans Smorenburg works for many years as Senior Consultant in the area of Lean en Agile Development.
        Specializing in the area of Software development, maintenance and Information management.

  %li#steven-peeters
    .bullet
    .name Steven Peeters
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/000/297/3d1/239730e.jpg"
      %p
        Steven began his career as enterprise software developer, working with C, C++ and Visual C++ for about 6 years. After a brief period as DBA, in 2004 Steven started working in the world of web applications. There he played a pioneering role in Flex and AIR, resulting in a long term close relationship with Adobe as Adobe Certified Instructor and Adobe Community Professional. In 2011 he became the unit manager for an Adobe Authorised Training Centre in Belgium, managing a team of 7 highly skilled professionals. In 2012, Steven took a leap of faith and founded his own company Silver Lining (http://www.silver-lining.be), with the intention to combine the training aspect with consultancy in project, process and change management. With this goal in mind he started focusing on Lean Six Sigma, becoming a Lean Six Sigma Black Belt and applying these techniques to an IT environment. In his spare time (when that occasionally happens) Steven likes to read up on scientific articles in several areas. When he&#39;s not behind his computer, you can find him spending quality time with his wife and kids.


  %li#yannick-ameur
    .bullet
    .name Yanick Ameur
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/000/1dd/142/214968b.jpg"
      %p
        Coach, Trainer, PO, Agile Manager

  %li#luca-minudel
    .bullet
    .name Luca Minudel
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/120/258/3566367.jpg"
      %p
        Luca Minudel: Extreme Programmer and Lean-Agile Coach, experienced in Scrum, XP and Lean-Agile. Has worked with large and legacy code-bases, complex domains, enterprise level applications. Working in professional software development since 1989. With Agile practices since 2002. During 2006-2009 has contributed to advance the adoption of Agile practices in a leading F1 Racing Team. In a unique context characterized by high levels of pressure, uncertainty, interdependency and rapid unpredictable changes. Spent the last 4 years in Stockholm and now is Coach and Trainer in ThoughtWorks London.

    %li#pierrick-revol
      .bullet
      .name Pierrick Revol
      .bio
        = image_tag "http://i2.wp.com/c0589922.cdn.cloudfiles.rackspacecloud.com/avatars/male200.png"
        %p
          After 8 years of software development for the industry (Transportation, Aeronautic, Military) Pierrick Revol turned to Agile Methods and experienced it on critical projects during 3 years. He has recently joined Valtech coach team and he is now supporting major industries in their adoption of Scrum.


  %li#jurgen-de-smet
    .bullet
    .name Jurgen De Smet
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/138/031/38e3338.jpg"
      %p
        Jurgen De Smet started to really learn (read: out of school) since 1996 within Software Development environments, starting out as a monkey in a small company filling his days with installations, upgrades, bug fixing & integration development… dealing with other species as customers, end-users, other suppliers provided great insight into the jungle we work. From that moment on he could not longer be the monkey and somehow started to mutate to a gorilla (team lead), king-kong (group lead) to one of the lions around (R&D Manager) expanding his territory of knowledge, learning from other jungles and finding better ways to survive while changing the environments from a jungle to a commune of transparency, trust, effectiveness and collaboration among all species around.
        %br
        %br
        Being busy with change since 2001 in different jungles, having met with over a 100 of different species, we could call Jurgen a chameleon with a huge backpack of knowledge, technique’s and frameworks to support other lions out there to do just enough of the right thing at the right time and be respected for it.
        %br
        %br
        Jurgen get's his mojo out of assignments that require engagement, collaboration and fun! These days he loves to apply Management 3.0 games, Innovation Games(r) & Gamestorming techniques to achieve unexpected results.


  %li#sebastien-arbogast
    .bullet
    .name Sébastien Arbogast
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/00a/3d7/1c14f90.jpg"
      %p
        After more than 5 years working as a software development and architecture consultant for others, in January 2011 I won the first Startup Weekend in Brussels and that event was the kick-in-the-butt I needed to start my own business. Plus, the Startup Weekend introduced me to Lean Startup techniques for the first time and it gave me hope as to my chances of success and it gave me the tools I needed to shape my ideas. Today, after almost 3 years using Lean Startup techniques, both on my projects and as a coach for others, I learned one or two things that I would love to pass along to fellow developers who are thinking of bringing their own ideas to life, but are hesitant to.

  %li#pierre-guerand
    .bullet
    .name Pierre Guerand
    .bio
      = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg"
      %p
        Pierre Guerand has been a game designer at Fishing Cactus for about twwo years now. His will to improve processes and challenge status quo has pushed him to try, test, modify standard agile methods to mold them around Fishing Cactus game development specific needs. He has worked on various projects such as Serious games for Dassault Aviation, After Burner Climax on mobile with SEGA, IndestructoTank with Armor games and is now working as project manager on one of Fishing Cactus secret project.

  %li#laurent-grumiaux
    .bullet
    .name Laurent Grumiaux
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/11e/1fe/0e99481.jpg"
      %p
        Laurent Grumiaux has been working as Commercial Director for Fishing Cactus for 3 years, he is in charge of the Serious games and Advergames section of Fishing Cactus. Laurent is also overseing most of the different game productions at Fishing Cactus.

  %li#pierre-e-neis
    .bullet
    .name Pierre E. Neis
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/000/203/2fe/05a0a57.jpg"
      %p
        Pierre is an experienced Agile Lean Coach coming from the dark side of ... project management. He has tested unconventional Scrum coaching approaches in Audit, Asset Management, Industry, Education, Government, private equities. He's the man behind the Product Owner's Helpdesk on LinkedIn and has developed several Agile custom frameworks like [sKale] (HR) and PLöRK (Leadership through games).

  %li#alexis-monville
    .bullet
    .name Alexis Monville
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/113/3bd/1f3cea7.jpg"
      %p
        Over the past twenty years, Alexis had worked in diverse sectors, from the automotive industry, the epic Internet start, IT consulting, public sector, which led him to found Ayeba, a management and organization consulting firm. Alexis is involved in associations and lecturer in the fields of management, agile methods and digital.

  %li#maurizio-pedriale
    .bullet
    .name Maurizio Pedriale
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/005/0fc/31027a2.jpg"
      %p
        I am a senior .NET developer with several years of experiences in coaching and management of small teams.
        I'm particularly interested in Agile techniques and a proficient Scrum practitioner, actively involved in the agile community.

  %li#alan-hortz
    .bullet
    .name Alan Hortz
    .bio
      = image_tag "http://m.xx.c.akam.licdn.com/media/p/4/000/176/3c2/1f9ab26.jpg"
      %p
        Alan is currently Scrum Master for Ogone, a company providing electronic payment services. Alan has more than 10 years of experience in ICT. He is passionate about ICT since his first computer, a Commodore 64. Alan explored many different software development methods and more recently Scrum and other Agile methods.

  %li#jake-benilov
    .bullet
    .name Jake Benilov
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/media/p/1/000/19a/19c/3167532.jpg"
      %p
        Jake Benilov, a ThoughtWorks alumni, is an independent consultant living in Cambridge, UK. He has worked as a trainer, developer, tester, business analyst, project manager and coach. His current focus is on government IT and open source, and he is the maintainer of DbFit, an open-source database testing framework. He can be reached at jake@quickpeople.co.uk and @benilov on Twitter.

  %li#peter-duelen
    .bullet
    .name Peter Duelen
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/media/p/1/000/12a/3b5/28f4830.jpg"
      %p
        Back in the days when CD-I was supposed to be hot and you needed 2 persons to lift a PC, I started my career as a tester for multimedia, games and educational software. These first experiences quickly turned into a love for testing and the sense that the “scripted” testing within various teams really needed to be complimented with an exploratory approach and I have been hooked on this approach ever since.
        %br
        %br
        For the past 5 years, I have been involved in a series of agile transitions moving testing out of the pre-scripted and “end of the line” activities and into a mindset for the team where improving and experimenting are key to successful and fun testing.


  %li#luc-taesch
    .bullet
    .name Luc Taesch
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/008/18c/2b84068.jpg"
      %p
        Luc was a serial talker, and could not resist interupting anybody when he thought he was right. Which was most of the time. This lead him to painful and complicated relationship.  Professionally and Privately. This lead him investigating many techniques and practices, like NVC, NPL, Zen Meditation,Martial Arts,Tai Chi ...  etc and turn this into a passionate hobby...  30 years after, he shares some practical insight, ( and talk about it ;-) )

  %li#joanne-ho
    .bullet
    .name Joanne Ho
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/110/304/2bdbe04.jpg"
      %p
        Joanne Ho is the founder of PowerHouse 360, an Agile consulting company dedicated to improving work processes in government, non-profit organizations, and university teaching and research.  During her doctoral studies, Joanne applied Agile methodologies to her PhD research.  As an environmental researcher, she adopted tools from scrum and kanban to manage environmental research projects conducted by her interdisciplinary team.  She used Agile methods to organize innovative processes to plan and drive research, a process of discovery involving a road map to the unknown.  Joanne is currently writing an Agile project management guidebook for graduate students.  Joanne holds a Ph.D in Forest Resources (University of Washington) and M.A. in International Economics (University of Sussex).  To learn more about Joanne and her company, go to www.powerhouse360.com
  %li#lahcen-afif
    .bullet
    .name Lahcen Afif
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/025/212/1a05943.jpg"
      %p
        Senior Project Manager (PRINCE2 Practitioner Certified) & Certified ScrumMaster at CIRB - CIBG
  %li#guillaume-duquesnay
    .bullet
    .name Guillaume Duquesnay
    .bio
      = image_tag "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/201/092/0bad48a.jpg"
      %p
        I am a freelance Agile coach. I help my clients and their software development teams shifting to Agile/Lean practices and handling this change at a larger scale (organisation, management, culture).

  %li#damien-thouvenin
    .bullet
    .name Damien Thouvenin
    .bio
      = image_tag "http://2012.conference-agile.fr/conf.agile-france.org/wp-content/uploads/2012/04/damien-thouvenin.jpg"
      %p
        I started my career as a Software Engineer at an ERP editor then worked for agri-businesses production solutions and eventually created my company in 2004.
        With thirty-ish consultants, CLT is both a consulting firm (specialized in business efficiency through agile and software) and a laboratory for innovation in management. Today, I share my time between running my company, speaking at conferences, consulting for clients and advocating for enterprise diversity.


.top-link= link_to "Top", "#speaker-list"


