#speakers-call= t("speakers_call")

%h2= t("home.speakers")

- if nil
  %ul#speaker-list
    %li
      .bullet
      .name Marc Lainez
      .bio
        = image_tag ""
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
    %li
      .bullet
      .name Marc Lainez
      .bio
        = image_tag ""
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
        %p
          I’m a young Agile developer that discovered the Agile world 3 years ago. Since then, I’ve tried to get involved as much as possible in my local community. Either through organizing drinkups or by going touniversities to teach and evangelize Agile through a non-profit organism devoted to bring Agile in schools for free. As a developer, I’m trying to beas active as possible and gather as much experience as possible in motivated Agile teams.
          %br/
          I also work from time to time as technical coach to introduce lost souls to good development practices, TDD, informative workspaces and continuous integration.
  .top-link= link_to "Top", "#speaker-list"
