.edition_2013
  %h1.giant.title Agile Tour Brussels 2013
  .large.ribbon Speakers List

  %br/
  %br/

  %ul#speaker-list

    %li#jan-de-baere
      .bullet
      .name Jan De Baere
      .bio
        = image_tag ""
        %p
          Jan is an organisational & collaboration coach.  Training & coaching organisations/teams to optimize their working in order to work in a more effective way.  Especially in environment’s where flexibility and creativity is an added value.   He discovered Agile during this active participation in the cultural transformation of his company towards adhocraty (same values as Agile). In this transformation he started up corporate governance and did it the Agile way.
          %br
          %br
          As a certified scrum professional Jan works mainly in bigger companies where he introduces scrum, kanban & visual management.  

    %li#tiago-garcez
      .bullet
      .name Tiago Garcez
      .bio
        = image_tag ""
        %p
          Tiago Garcez is an Agile coach and partner at Agilar. With over 13 years of experience with IT projects and change management, he has worked in multiple large-scale Agile transitions, supporting change leaders and teams in their continuous improvement efforts. Previously, Tiago worked as a Product Owner, Agile Project Manager and Business Analyst.  An active member of the Belgian Agile community, you're likely to bump into him in the Agile events in the area.

    %li#pascal-van-cauwenberghe
      .bullet
      .name Pascal Van Cauwenberghe
      .bio
        = image_tag ""
        %p
          Pascal Van Cauwenberghe is a consultant based in Brussels who tries to solve more problems than he creates. To do this, he uses Agile, Lean, Theory of Constraints and Systems Thinking techniques.
          %br
          %br
          He’s one of the founders of the Belgian XP group and one of the organizers of XP Days Benelux. One day he and Vera Peeters invented the “XP Game“, because they couldn’t explain XP to their team and customers. They’ve learned that games are an ideal way to learn. Since then he tries to transform work into play…

      %li#christophe-addinquy
        .bullet
        .name Christophe Addinquy
        .bio
          = image_tag ""
          %p
            Christophe Addinquy is projects manager at Vidal where he actively be implied in Scrum deployment in the company. He was also involved in object oriented odoption in the end of the '80 and in the "design patterns" movement in the 90, including participation in conférences and in publications. As a consultant and technical coordinator at Valtech, he pioneered the agile strategy of the company in the early 2000. Outside his professional duties, Christophe Addinquy is the secretary of the French Scrum User Group and member of the bureau since its beginning in 2008.

      %li#stephane-rondal
        .bullet
        .name Stephane Rondal
        .bio
          = image_tag ""
          %p
            When he's not busy with his family, traveling, or toying around with geeky stuff, Stephane Rondal is an avid Agilist. He has been learning, applying and teaching Agile since 2005, on solo projects up to projects involving highly distributed teams.  Stephane is a frequent trainer on Agile matters, as well as a Java/Java EE architect. He's also the co-founder of Arexo, a Belgian IT consultancy company.

    %li#yves-hanoulle
      .bullet
      .name Yves Hanoulle
      .bio
        = image_tag ""
        %p
          I started working in IT in 1994.
          %br
          %br
          Software support, developer, team lead, trainer, agile coach, change artist, first follower, most team roles, I did them.  These days I call myself Creative Collaboration Agent.
          %be
          %Be
          I believe that IT is mainly about working with people. A skill that can never be learned enough. Team startups & retrospectives are my favorite ways to help your team(s).
          %br
          %br
          I give Free Lifetime Support (FLS) on anything I do.
          %br
          %br
          In Belgium I'm most know for my leadership game, outside Belgium most for all the online community activities I do.
          %br
          %br
          Our book is called who is agile
          = link_to "http://www.leanpub.com/whoisagile", "http://www.leanpub.com/whoisagile"

    %li#erik-talboom
      .bullet
      .name Erik Talboom
      .bio
        = image_tag "https://twimg0-a.akamaihd.net/profile_images/1174575886/ikke.jpg"
        %p
          Erik Talboom loves to help other people out, it's something that has been important for him as long as he can remember. He used to tutor people while he was still in school, helping out fellow students whenever he had the chance. It wasn't that weird that after a few years of professional experience, he ended up teaching class. He has trained and coached several teams on different subjects, ranging from process oriented topics like scrum, kanban and effective collaboration through gamestorming to more technical focused topics like test automation, test driven development and software craftsmanship principles.

    %li#eddy-pauwels
      .bullet
      .name Eddy Pauwels
      .bio
        = image_tag ""
        %p
          Eddy Pauwels (CSM, CSPO)  is an experienced IT professional and excellent speaker. During the past 25 years he specialised in Application and Service Lifecycle Management. As an accredited APMG trainer he regularly lectures on Lean IT and ITIL. Eddy is a respected coach within organisations to implement Agile, Lean IT and performance based service management.

    %li#domenico-musto
      .bullet
      .name Domenico Musto
      .bio
        = image_tag ""
        %p
          Application Architect / Team Lead at Huddle
          %br
          %br
          Software architect with more than 10 years of experience in developing high volume/performance scalable web applications. In the last few years I've lead the migration to an agile approach of various companies. Today I live between Toulouse and London where I lead a scrum team in Huddle. My job is mainly about architecture, mentoring and implementation of agile practices. I also help to organise DevTank in London (tech & startups conference). The technologies I usually work with are .NET, C# e Ruby. 
          %br
          %br
          I am a frequent speaker at international conferences

    %li#steven-peeters
      .bullet
      .name Steven Peeters
      .bio
        = image_tag ""
        %p
          Steven began his career as enterprise software developer, working with C, C++ and Visual C++ for about 6 years. After a brief period as DBA, in 2004 Steven started working in the world of web applications. There he played a pioneering role in Flex and AIR, resulting in a long term close relationship with Adobe as Adobe Certified Instructor and Adobe Community Professional. In 2011 he became the unit manager for an Adobe Authorised Training Centre in Belgium, managing a team of 7 highly skilled professionals. In 2012, Steven took a leap of faith and founded his own company Silver Lining (http://www.silver-lining.be), with the intention to combine the training aspect with consultancy in project, process and change management. With this goal in mind he started focusing on Lean Six Sigma, becoming a Lean Six Sigma Black Belt and applying these techniques to an IT environment. In his spare time (when that occasionally happens) Steven likes to read up on scientific articles in several areas. When he&#39;s not behind his computer, you can find him spending quality time with his wife and kids.


    %li#yannick-ameur
      .bullet
      .name Yanick Ameur
      .bio
        = image_tag ""
        %p

    %li#luca-minudel
      .bullet
      .name Luca Minudel
      .bio
        = image_tag ""
        %p
          Luca Minudel: Extreme Programmer and Lean-Agile Coach, experienced in Scrum, XP and Lean-Agile. Has worked with large and legacy code-bases, complex domains, enterprise level applications. Working in professional software development since 1989. With Agile practices since 2002. During 2006-2009 has contributed to advance the adoption of Agile practices in a leading F1 Racing Team. In a unique context characterized by high levels of pressure, uncertainty, interdependency and rapid unpredictable changes. Spent the last 4 years in Stockholm and now is Coach and Trainer in ThoughtWorks London.

    %li#carbonnaux-revol-gouy
      .bullet
      .name Carbonnaux, Revol, Gouy
      .bio
        = image_tag ""
        %p
          Laurent Carbonnaux, Nicolas Gouy et Pierrick Revol sont des coachs Agile qui interviennent dans des grands comptes ou des startups. Ils sont en train de publier "Lean Design Practices" (http://leandesign.fr), fruit de leurs expériences dans la pilotage par la valeur.


    %li#jurgen-de-smet
      .bullet
      .name Jurgen De Smet
      .bio
        = image_tag ""
        %p
          Jurgen De Smet started to really learn (read: out of school) since 1996 within Software Development environments, starting out as a monkey in a small company filling his days with installations, upgrades, bug fixing & integration development… dealing with other species as customers, end-users, other suppliers provided great insight into the jungle we work. From that moment on he could not longer be the monkey and somehow started to mutate to a gorilla (team lead), king-kong (group lead) to one of the lions around (R&D Manager) expanding his territory of knowledge, learning from other jungles and finding better ways to survive while changing the environments from a jungle to a commune of transparency, trust, effectiveness and collaboration among all species around.
          %br
          %br
          Being busy with change since 2001 in different jungles, having met with over a 100 of different species, we could call Jurgen a chameleon with a huge backpack of knowledge, technique’s and frameworks to support other lions out there to do just enough of the right thing at the right time and be respected for it.
          %br
          %br
          Jurgen get's his mojo out of assignments that require engagement, collaboration and fun! These days he loves to apply Management 3.0 games, Innovation Games(r) & Gamestorming techniques to achieve unexpected results.


    %li#sebastien-arbogast
      .bullet
      .name Sébastien Arbogast
      .bio
        = image_tag ""
        %p
          After more than 5 years working as a software development and architecture consultant for others, in January 2011 I won the first Startup Weekend in Brussels and that event was the kick-in-the-butt I needed to start my own business. Plus, the Startup Weekend introduced me to Lean Startup techniques for the first time and it gave me hope as to my chances of success and it gave me the tools I needed to shape my ideas. Today, after almost 3 years using Lean Startup techniques, both on my projects and as a coach for others, I learned one or two things that I would love to pass along to fellow developers who are thinking of bringing their own ideas to life, but are hesitant to.

    %li#pierre-guerand
      .bullet
      .name Pierre Guerand
      .bio
        = image_tag ""
        %p
          Pierre Guerand has been a game designer at Fishing Cactus for about twwo years now. His will to improve processes and challenge status quo has pushed him to try, test, modify standard agile methods to mold them around Fishing Cactus game development specific needs. He has worked on various projects such as Serious games for Dassault Aviation, After Burner Climax on mobile with SEGA, IndestructoTank with Armor games and is now working as project manager on one of Fishing Cactus secret project.

    %li#laurent-grumiaux
      .bullet
      .name Laurent Grumiaux
      .bio
        = image_tag ""
        %p
          Laurent Grumiaux has been working as Commercial Director for Fishing Cactus for 3 years, he is in charge of the Serious games and Advergames section of Fishing Cactus. Laurent is also overseing most of the different game productions at Fishing Cactus.

    %li#pierre-e-neis
      .bullet
      .name Pierre E. Neis
      .bio
        = image_tag ""
        %p
          Pierre is an experienced Agile Lean Coach coming from the dark side of ... project management. He has tested unconventional Scrum coaching approaches in Audit, Asset Management, Industry, Education, Government, private equities. He's the man behind the Product Owner's Helpdesk on LinkedIn and has developed several Agile custom frameworks like [sKale] (HR) and PLöRK (Leadership through games).

    %li#alexis-monville
      .bullet
      .name Alexis Monville
      .bio
        = image_tag ""
        %p
          Over the past twenty years, Alexis had worked in diverse sectors, from the automotive industry, the epic Internet start, IT consulting, public sector, which led him to found Ayeba, a management and organization consulting firm. Alexis is involved in associations and lecturer in the fields of management, agile methods and digital.

    %li#maurizio-pedriale
      .bullet
      .name Maurizio Pedriale
      .bio
        = image_tag ""
        %p

    %li#jake-benilov
      .bullet
      .name Jake Benilov
      .bio
        = image_tag ""
        %p
          Jake Benilov, a ThoughtWorks alumni, is an independent consultant living in Cambridge, UK. He has worked as a trainer, developer, tester, business analyst, project manager and coach. His current focus is on government IT and open source, and he is the maintainer of DbFit, an open-source database testing framework. He can be reached at jake@quickpeople.co.uk and @benilov on Twitter.

    %li#peter-duelen
      .bullet
      .name Peter Duelen
      .bio
        = image_tag ""
        %p
          Back in the days when CD-I was supposed to be hot and you needed 2 persons to lift a PC, I started my career as a tester for multimedia, games and educational software. These first experiences quickly turned into a love for testing and the sense that the “scripted” testing within various teams really needed to be complimented with an exploratory approach and I have been hooked on this approach ever since.
          %br
          %br
          For the past 5 years, I have been involved in a series of agile transitions moving testing out of the pre-scripted and “end of the line” activities and into a mindset for the team where improving and experimenting are key to successful and fun testing.


    %li#luc-taesch
      .bullet
      .name Luc Taesch
      .bio
        = image_tag ""
        %p
          Luc was a serial talker, and could not resist interupting anybody when he thought he was right. Which was most of the time. This lead him to painful and complicated relationship.  Professionally and Privately. This lead him investigating many techniques and practices, like NVC, NPL, Zen Meditation,Martial Arts,Tai Chi ...  etc and turn this into a passionate hobby...  30 years after, he shares some practical insight, ( and talk about it ;-) )

    %li#jan-de-baere
      .bullet
      .name Jan De Baere
      .bio
        = image_tag ""
        %p
          Jan is an organisational & collaboration coach.  Training & coaching organisations/teams to optimize their working in order to work in a more effective way.  Especially in environment’s where flexibility and creativity is an added value.   He discovered Agile during this active participation in the cultural transformation of his company towards adhocraty (same values as Agile). In this transformation he started up corporate governance and did it the Agile way.
          %br
          %br
          As a certified scrum professional Jan works mainly in bigger companies where he introduces scrum, kanban & visual management.  

    %li#frederic-vandaele
      .bullet
      .name Frederic Vandaele
      .bio
        = image_tag ""
        %p
          Agile Project Manager involved in important IT projects for the European Commission. Now working as Project Manager and ScrumMaster in DG CONNECT. Participate to the implementation of Scrum and provides support as Agile Coach to dev teams. Agile trainer and Innovation Games practitioner. 

    %li#joanne-ho
      .bullet
      .name Joanne Ho
      .bio
        = image_tag ""
        %p
          Joanne Ho is the founder of PowerHouse 360, an Agile consulting company dedicated to improving work processes in government, non-profit organizations, and university teaching and research.  During her doctoral studies, Joanne applied Agile methodologies to her PhD research.  As an environmental researcher, she adopted tools from scrum and kanban to manage environmental research projects conducted by her interdisciplinary team.  She used Agile methods to organize innovative processes to plan and drive research, a process of discovery involving a road map to the unknown.  Joanne is currently writing an Agile project management guidebook for graduate students.  Joanne holds a Ph.D in Forest Resources (University of Washington) and M.A. in International Economics (University of Sussex).  To learn more about Joanne and her company, go to www.powerhouse360.com
    %li#lahcen-afif
      .bullet
      .name Lahcen Afif
      .bio
        = image_tag ""
        %p
          Senior Project Manager (PRINCE2 Practitioner Certified) & Certified ScrumMaster at CIRB - CIBG
    %li#damien-thouvenin
      .bullet
      .name Damien Thouvenin
      .bio
        = image_tag ""
        %p
          I started my career as a Software Engineer at an ERP editor then worked for agri-businesses production solutions and eventually created my company in 2004.
          With thirty-ish consultants, CLT is both a consulting firm (specialized in business efficiency through agile and software) and a laboratory for innovation in management. Today, I share my time between running my company, speaking at conferences, consulting for clients and advocating for enterprise diversity.


  .top-link= link_to "Top", "#speaker-list"


