.edition_2013
  %h1.giant.title Agile Tour Brussels 2013
  .large.ribbon Speakers List

  %br/
  %br/

  %ul#speaker-list

    %li#jan-de-baere
      .bullet
      .name Jan De Baere
      .bio
        = image_tag ""
        %p
          Jan is an organisational & collaboration coach.  Training & coaching organisations/teams to optimize their working in order to work in a more effective way.  Especially in environment’s where flexibility and creativity is an added value.   He discovered Agile during this active participation in the cultural transformation of his company towards adhocraty (same values as Agile). In this transformation he started up corporate governance and did it the Agile way.
          %br
          %br
          As a certified scrum professional Jan works mainly in bigger companies where he introduces scrum, kanban & visual management.  

    %li#tiago-garcez
      .bullet
      .name Tiago Garcez
      .bio
        = image_tag ""
        %p
          Tiago Garcez is an Agile coach and partner at Agilar. With over 13 years of experience with IT projects and change management, he has worked in multiple large-scale Agile transitions, supporting change leaders and teams in their continuous improvement efforts. Previously, Tiago worked as a Product Owner, Agile Project Manager and Business Analyst.  An active member of the Belgian Agile community, you're likely to bump into him in the Agile events in the area.

    %li#pascal-van-cauwenberghe
      .bullet
      .name Pascal Van Cauwenberghe
      .bio
        = image_tag ""
        %p
          Pascal Van Cauwenberghe is a consultant based in Brussels who tries to solve more problems than he creates. To do this, he uses Agile, Lean, Theory of Constraints and Systems Thinking techniques.
          %br
          %br
          He’s one of the founders of the Belgian XP group and one of the organizers of XP Days Benelux. One day he and Vera Peeters invented the “XP Game“, because they couldn’t explain XP to their team and customers. They’ve learned that games are an ideal way to learn. Since then he tries to transform work into play…

      %li#christophe-addinquy
        .bullet
        .name Christophe Addinquy
        .bio
          = image_tag ""
          %p
            Christophe Addinquy is projects manager at Vidal where he actively be implied in Scrum deployment in the company. He was also involved in object oriented odoption in the end of the '80 and in the "design patterns" movement in the 90, including participation in conférences and in publications. As a consultant and technical coordinator at Valtech, he pioneered the agile strategy of the company in the early 2000. Outside his professional duties, Christophe Addinquy is the secretary of the French Scrum User Group and member of the bureau since its beginning in 2008.

      %li#stephane-rondal
        .bullet
        .name Stephane Rondal
        .bio
          = image_tag ""
          %p
            When he's not busy with his family, traveling, or toying around with geeky stuff, Stephane Rondal is an avid Agilist. He has been learning, applying and teaching Agile since 2005, on solo projects up to projects involving highly distributed teams.  Stephane is a frequent trainer on Agile matters, as well as a Java/Java EE architect. He's also the co-founder of Arexo, a Belgian IT consultancy company.

    %li#yves-hanoulle
      .bullet
      .name Yves Hanoulle
      .bio
        = image_tag ""
        %p
          I started working in IT in 1994.
          %br
          %br
          Software support, developer, team lead, trainer, agile coach, change artist, first follower, most team roles, I did them.  These days I call myself Creative Collaboration Agent.
          %be
          %Be
          I believe that IT is mainly about working with people. A skill that can never be learned enough. Team startups & retrospectives are my favorite ways to help your team(s).
          %br
          %br
          I give Free Lifetime Support (FLS) on anything I do.
          %br
          %br
          In Belgium I'm most know for my leadership game, outside Belgium most for all the online community activities I do.
          %br
          %br
          Our book is called who is agile
          = link_to "http://www.leanpub.com/whoisagile", "http://www.leanpub.com/whoisagile"

    %li#erik-talboom
      .bullet
      .name Erik Talboom
      .bio
        = image_tag "https://twimg0-a.akamaihd.net/profile_images/1174575886/ikke.jpg"
        %p
          I'm a strong believer in agile development and software craftsmanship. The basis of both of these mindsets is continuous learning. Therefor I spend my time learning new things and helping other people in their learning paths. If you want to know more about me:
          = link_to "http://about.me/talboomerik", "http://about.me/talboomerik"

    %li#eddy-pauwels
      .bullet
      .name Eddy Pauwels
      .bio
        = image_tag ""
        %p
          Eddy Pauwels (CSM, CSPO)  is an experienced IT professional and excellent speaker. During the past 25 years he specialised in Application and Service Lifecycle Management. As an accredited APMG trainer he regularly lectures on Lean IT and ITIL. Eddy is a respected coach within organisations to implement Agile, Lean IT and performance based service management.

    %li#domenico-musto
      .bullet
      .name Domenico Musto
      .bio
        = image_tag ""
        %p
          Application Architect / Team Lead at Huddle
          %br
          %br
          Software architect with more than 10 years of experience in developing high volume/performance scalable web applications. In the last few years I've lead the migration to an agile approach of various companies. Today I live between Toulouse and London where I lead a scrum team in Huddle. My job is mainly about architecture, mentoring and implementation of agile practices. I also help to organise DevTank in London (tech & startups conference). The technologies I usually work with are .NET, C# e Ruby. 
          %br
          %br
          I am a frequent speaker at international conferences

    %li#steven-peeters
      .bullet
      .name Steven Peeters
      .bio
        = image_tag ""
        %p
          Steven began his career as enterprise software developer, working with C, C++ and Visual C++ for about 6 years. After a brief period as DBA, in 2004 Steven started working in the world of web applications. There he played a pioneering role in Flex and AIR, resulting in a long term close relationship with Adobe as Adobe Certified Instructor and Adobe Community Professional. In 2011 he became the unit manager for an Adobe Authorised Training Centre in Belgium, managing a team of 7 highly skilled professionals. In 2012, Steven took a leap of faith and founded his own company Silver Lining (http://www.silver-lining.be), with the intention to combine the training aspect with consultancy in project, process and change management. With this goal in mind he started focusing on Lean Six Sigma, becoming a Lean Six Sigma Black Belt and applying these techniques to an IT environment. In his spare time (when that occasionally happens) Steven likes to read up on scientific articles in several areas. When he&#39;s not behind his computer, you can find him spending quality time with his wife and kids.


    %li#yannick-ameur
      .bullet
      .name Yanick Ameur
      .bio
        = image_tag ""
        %p

    %li#luca-minudel
      .bullet
      .name Luca Minudel
      .bio
        = image_tag ""
        %p

    %li#carbonnaux-revol-gouy
      .bullet
      .name Carbonnaux, Revol, Gouy
      .bio
        = image_tag ""
        %p

    %li#jurgen-de-smet
      .bullet
      .name Jurgen De Smet
      .bio
        = image_tag ""
        %p

    %li#sebastien-arbogast
      .bullet
      .name Sébastien Arbogast
      .bio
        = image_tag ""
        %p

    %li#laurent-grumiaux
      .bullet
      .name Laurent Grumiaux
      .bio
        = image_tag ""
        %p

    %li#pierre-e-neis
      .bullet
      .name Pierre E. Neis
      .bio
        = image_tag ""
        %p

    %li#alexis-monville
      .bullet
      .name Alexis Monville
      .bio
        = image_tag ""
        %p

    %li#maurizio-pedriale
      .bullet
      .name Maurizio Pedriale
      .bio
        = image_tag ""
        %p

    %li#jake-benilov
      .bullet
      .name Jake Benilov
      .bio
        = image_tag ""
        %p

    %li#peter-duelen
      .bullet
      .name Peter Duelen
      .bio
        = image_tag ""
        %p

    %li#luc-taesch
      .bullet
      .name Luc Taesch
      .bio
        = image_tag ""
        %p

    %li#jan-de-baere
      .bullet
      .name Jan De Baere
      .bio
        = image_tag ""
        %p

    %li#frederic-vandaele
      .bullet
      .name Frederic Vandaele
      .bio
        = image_tag ""
        %p

    %li#joanne-ho
      .bullet
      .name Joanne Ho
      .bio
        = image_tag ""
        %p


  .top-link= link_to "Top", "#speaker-list"


