!!!
%html
  %head
    %title AgileTour Brussels
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyB2GAsb-RstnEMJCXBLf6NWQNAWsnis3Ms&sensor=false"
    = favicon_link_tag "favicon.png", :type => "image/png"
    = csrf_meta_tags
    %meta{ 'og:image' => "http://www.atbru.be/assets/logo.png" }

  %body
    #wrap
      %header#header
        %h1= image_tag "logo.png", :alt => "AgileTour Brussels 2012"
        %nav#main-menu
          %ul
            %li= link_to t("menu.home"), root_url
            %li= link_to t("menu.speakers"), speakers_url
            %li= link_to t("menu.program"), program_url
            %li= link_to t("menu.sponsors"), sponsors_url
            %li= link_to t("menu.details"), details_url
        - if nil
          #register-box
            #counter
              %span.days
              =# days_left
              =# t("register.days_left")
            .button=# link_to t("register.register"), registrations_path
      #content
        #slideshow
          .slides_container
            %div= image_tag "atomium.jpg"
            %div= image_tag "beers.png"
            %div= image_tag "place.jpg"
            %div= image_tag "flags.jpg"
        #flash
          - if flash[:notice]
            %p.notice
              = flash[:notice]
          - if flash[:error]
            %p.error
              = flash[:error]
        = yield
      .push
    %footer#footer
      .wrap
        .copyright= t("footer.copyright")
        %nav#footer-nav
          %ul
            %li= link_to t("menu.home"), root_url
            %li= link_to t("menu.speakers"), speakers_url
            %li= link_to t("menu.program"), program_url
            %li= link_to t("menu.sponsors"), sponsors_url
            %li= link_to t("menu.details"), details_url

= render "shared/map"
