!!!
%html
  %head
    %title AgileTour Brussels
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.png", :type => "image/png"
    = csrf_meta_tags

  %body
    = yield
