!!!
%html
  %head
    %title AgileTour Brussels
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAdXhAbma-BfbPcuMpNV41b0KNL8eSKJLA&sensor=false"
    = favicon_link_tag "favicon.png", :type => "image/png"
    = csrf_meta_tags
    %meta{ 'og:image' => "http://www.atbru.be/assets/logo.png" }

  %body
    #wrap
      %header#header
        %h1= image_tag "logo.png", :alt => "AgileTour Brussels 2012"
        %nav#main-menu
          %ul
            %li= link_to t("menu.home"), root_url
            %li= link_to t("menu.speakers"), speakers_url
        #register-box
          #counter
            %span.days= days_left
            = t("register.days_left")
          .button= link_to t("register.register"), "http://at2012.agiletour.org/en/brussels.html"
      #content
        #slideshow
          .slides_container
            %div= image_tag "atomium.jpg"
            %div= image_tag "beers.png"
            %div= image_tag "place.jpg"
            %div= image_tag "flags.jpg"
        = yield
      .push
    %footer#footer
      .wrap
        .copyright= t("footer.copyright")
        %nav#footer-nav
          %ul
            %li= link_to t("menu.home"), root_url
            %li= link_to t("menu.speakers"), speakers_url

:javascript
  $("#slideshow").slides({
    play: 5000,
    pause: 2500,
    generateNextPrev: false,
    generatePagination: false,
    effect: 'fade',
    crossfade: true,
    slideSpeed: 1000
  });

  var myOptions = {
    center: new google.maps.LatLng(50.8267908, 4.4002883),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map"), myOptions);
  var contentString = '<div>'+
    'ICAB nv | Site Arsenal' +
    '<br />'+
    'Rue des Pères blancs 4'+
    '<br />'+
    '1040 Bruxelles'+
    '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(50.8267908, 4.4002883),
    map: map,
    title:"ICAB Brussels"
  });

  infowindow.open(map,marker);
  map.panBy(20, -90);
