!!!
- content_for :submenu do
  - if @year == '2012'
    %ul.edition_2012
      %li= link_to t("menu.speakers"     ), speakers_url(      year: 2012 )
      %li= link_to t("menu.program"      ), program_url(       year: 2012 )
      %li= link_to t("menu.sponsors"     ), sponsors_url(      year: 2012 )
      %li= link_to t("menu.presentations"), presentations_url( year: 2012 )

%html
  %head
    %title AgileTour Brussels
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyB2GAsb-RstnEMJCXBLf6NWQNAWsnis3Ms&sensor=false" unless Rails.env == "development"
    = favicon_link_tag "favicon.png", :type => "image/png"
    = csrf_meta_tags
    %meta{ 'og:image' => "http://www.atbru.be/assets/logo.png" }

  %body{ id: "#{action_name}-#{controller_name}" }
    #wrap
      %header#header
        %h1= link_to image_tag("logo.png", :alt => "AgileTour Brussels"), "/"
        %nav#main-menu
          %ul
            %li= link_to t("menu.home"), root_url

            - if false # TEMPORARLY DISABLE THESE MENU ITEMS
              %li= link_to t("menu.speakers"), speakers_url
              %li= link_to t("menu.program"), program_url
              %li= link_to t("menu.presentations"), presentations_url

            %li= link_to t("menu.sponsors"), sponsors_url
            %li= link_to t("menu.details"), details_url
            /%li=# link_to t("menu.presentations"), presentations_url
        #register-box
          - if show_remaining_days_and_register_button = false
            #counter
              %span.days
                = days_left
              = t("register.days_left")
            .button= link_to t("register.register"), "http://register.agilesystems.org/"
      #content

        = render 'shared/tweet_button'
        <br />
        = yield :before_carousel
        = render 'shared/tweet_button'
        = yield :carousel

        #flash
          - if flash[:notice]
            %p.notice
              = flash[:notice]
          - if flash[:error]
            %p.error
              = flash[:error]
        = yield
      .push
    %footer#footer
      .wrap
        .copyright= t("footer.copyright")
        %nav#footer-nav
          %ul
            %li= link_to t("menu.home"), root_url

            - if false # TEMPORARLY DISABLE THESE MENU ITEMS
              %li= link_to t("menu.speakers"), speakers_url
              %li= link_to t("menu.program"), program_url

            %li= link_to t("menu.sponsors"), sponsors_url
            %li= link_to t("menu.details"), details_url
            /%li=# link_to t("menu.presentations"), presentations_url

= render "shared/map"
